.babysitter-container{
    background-color: #DFDDFF;
    border-radius: 1rem; 
    width: 1100px;
}

.view-parent-request-image{

}

img{
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.card{
    flex-direction: row;
    background-color: #f6f6ff83;
}

.card-text{
    color: blue;
}

.view-button-babysitter{
    padding: 30px;
}

.search-height-width{
    width: 400px;
}