<div class="container-fluid">
    <div class="mb-3">
      <h3>Parent Requests</h3>
    </div>
</div>

<form class="d-flex search-height-width p-1" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

<div class="babysitter-container m-5">
    <div class="row app-container pt-3 pb-3">
        <div class="col-lg-10 offset-md-1">
            <div class="card mb-3">
                <div class="view-parent-request-image p-3">
                    <img src="../../assets/viewRequestParent1.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">S. Thennakon</h5>
                    <p class="card-text">Today</p>
                </div>
                <div class="view-button-babysitter">
                    <a href="#" class="btn btn-success">View</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="view-parent-request-image p-3">
                    <img src="../../assets/viewRequestParent2.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">G. Umayangana</h5>
                  <p class="card-text">Yesterday</p>
                </div>
                <div class="view-button-babysitter">
                    <a href="#" class="btn btn-success">View</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="view-parent-request-image p-3">
                    <img src="../../assets/viewRequestParent3.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">N. Epa</h5>
                    <p class="card-text">07/23/2023</p>
                </div>
                <div class="view-button-babysitter">
                    <a href="#" class="btn btn-success">View</a>
                </div>
            </div>
            <!-- <div class="card mb-2">
                <div class="view-parent-request-image p-3">
                    <img src="../../assets/viewRequestParent1.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">S. Thennakon</h5>
                    <p class="card-text">Monday</p>
                </div>
                <div class="view-button-babysitter">
                    <a href="#" class="btn btn-success">View</a>
                </div>
            </div> -->
        </div>
    </div>
</div>