<div class="container-fluid">
    <div class="mb-3">
      <h3>Details of request</h3>
    </div>
</div>

<div class="babysitter-container m-5">
  <!-- <div class="row app-container pt-3 pb-3">
    <div class="col-lg-10 offset-md-1"> -->
      <div class="request-details m-5">
        <div class="first-row">
          <div class="name">
            <div class="card-title p-3"></div>
            <h6 class="card-title">Work Expectation</h6><br>
          </div>
          <div class="days">
            <h6 class="card-title">Days</h6>
            <p class="card-text">Monday</p>
            <p class="card-text">Tuesday</p>
          </div>
          <div class="time-duration">
            <h6 class="card-title">Time duration per day
              <div class="time-period">
                <p class="card-text">08.00 AM</p>
                <p class="card-text">06.00 PM</p>
              </div>
              <div class="time-period">
                <p class="card-text">08.00 AM</p>
                <p class="card-text">06.00 PM</p>
              </div>
            </h6>
          </div>
        </div>
        <div class="second-row pt-4 pb-2">
          <h6 class="card-title">Number of babies</h6>
          <p class="card-text no-of-babies">2</p>
        </div>
      </div>
    <!-- </div>
  </div> -->
</div>