<div class="form d-flex justify-content-center" style="text-align: center">
  <div class="container p-2 "
       style="margin-left:100px;margin-top: 50px;background: linear-gradient(#BCC0E5,#E5BCDC);border-radius: 20px;">

    <form class="row g-3 needs-validation" novalidate>
      <h3 style="text-align: center;" class="h1">
        Signup
      </h3>
      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationCustom02" value="" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-12">
        <label for="validationCustom03" class="form-label">Home Address</label>
        <input type="text" class="form-control" id="validationCustom03" style="width: 90%;" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Email</label>
        <input type="text" class="form-control" id="validationCustom04" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Contact Number</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Password</label>
        <input type="text" class="form-control" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Confirm Password</label>
        <input type="text" class="form-control" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">NIC</label>
        <input type="text" class="form-control" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">User Role</label>
        <div class="">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="" for="flexRadioDefault1">
            Parent
          </label>

          <input class="form-check-input" style="margin-left: 10px;" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Babysitter
          </label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-dark" type="submit">Signup</button>
      </div>
    </form>
  </div>
  <div class="p-2" style="margin-top: 250px;margin-right: 100px;">
    <img src="assets/signup.png" style="height: 400px;width: 600px;">
  </div>
</div>
