/*.body{*/
/*  background-image: #DFDDFF;*/
/*}*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-control{
  margin-left: 50px;
  width: 80%;
  padding: 10px;
}
.btn-dark{
  width: 180px;
}
label{
  text-align: left;
}
@media (max-width: 991px){
  .form{
    background-color: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(10px);
  }
}
