<div class="form d-flex justify-content-center" style="text-align: center;font-family: 'Sofia Sans', sans-serif">
  <div class="main-container">
    <div class="image-container">
      <img alt="" src="../../assets/loginbackground.svg" width="1100px" height="660px">
    </div>
    <div class="container p-2 py-4"
         style="margin-left:100px;margin-top:40px;background-color:rgba(255, 255, 255, 0.42);border-radius: 40px;text-align: center;font-family: 'Sofia Sans', sans-serif">
      <form class="row g-3 needs-validation" id="signUpForm" novalidate>
        <!-- start step indicators -->
        <div class="form-header d-flex mb-4">
          <span class="stepIndicator finish">Select User Role</span>
          <span class="stepIndicator before">Account Setup</span>
        </div>
        <!-- end step indicators -->
        <h1 style="text-align: center;" class="h1">
          Signup
        </h1>
        <!-- step one -->
        <div class="form-footer d-flex mb-4">
          <button type="button" routerLink="/parent_signup">Parent</button>
          <button type="button" routerLink="/babysitter_signup">Babysitter</button>
        </div>

        <!-- end previous / next buttons -->
        <div class="mb-4" style="margin-top: 5px;font-family: 'Sofia Sans', sans-serif">Already have an account?
          <div
            style="font-weight: bold;display:inline;cursor: pointer;color:#7E57C2;font-family: 'Sofia Sans', sans-serif"
            routerLink="/login">Login
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="image p-2 ms-5 ">
    <img src="assets/signupimage.svg" style="height: 620px;width: 620px;" alt="">
  </div>
</div>
