<div class="d-flex justify-content-center align-items-center" style="margin-top: 80px">
  <div class="custom-card">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          <!-- List group items here -->
          <div class="list-group">
            <p
              class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data"
              style="background-color: aliceblue;border-color: aliceblue; width: 600px;font-size:x-large;">Full Name</p>
            <input type="text" class="form-control" style="text-align: center" value="{{babysitterFullName}}" readonly>

            <!-- <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">Age</p>
            <input type="number" class="form-control" [(ngModel)]="babysitterProfile.age" readonly> -->

            <p
              class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data"
              style="background-color: aliceblue;border-color: aliceblue;display: flex;justify-content: center;font-size:x-large;">
              NIC No</p>
            <input type="text" class="form-control" style="text-align: center" value="{{babysitterProfile.nic}}"
                   readonly>

            <p
              class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data"
              style="background-color: aliceblue;border-color: aliceblue;font-size:x-large">Home Address</p>
            <input type="text" class="form-control" style="text-align: center" value="{{babysitterProfile.address}}"
                   readonly>

            <p
              class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data"
              style="background-color: aliceblue;border-color: aliceblue;font-size:x-large;">Contact Number</p>
            <input type="text" class="form-control" style="text-align: center" value="{{babysitterProfile.phone}}"
                   readonly>

            <p
              class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data"
              style="background-color: aliceblue;border-color: aliceblue">
              <a href="assets/user.jpg" download>
                <i class="fas fa-file-download"></i> Qualification file
              </a>
            </p>
            <!-- <p>
              <button class="bbtn btn-custom btn-primary" style="background-color: mediumpurple;border-color: #BFBBF1;border-radius: 16px; align-content: center;width: 30pxcd fronte" (click)="save(babysitterProfile)">Verify</button>
              <button class="bbtn btn-custom btn-primary" style="background-color: rgb(229, 60, 13);border-color: #BFBBF1;border-radius: 16px; align-content: center;width: 30pxcd fronte;margin-left: 2rem;" >Reject</button>

            </p> -->

            <div class="d-flex align-items-center mb-3">

              <button type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"
                      data-bs-target="#editThankYouModal">
                <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>
              </button>

            </div>


          </div>

          <div class="modal fade" id="editThankYouModal" tabindex="-1" aria-labelledby="editThankYouModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="editThankYouModalLabel">verify Babysitter</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h5 class="modal-title" id="editThankYouModalLabel">Current Status</h5>

                  <input type="text" [(ngModel)]="koko" class="form-control mb-3" id="status"
                         placeholder="Edit content here">
                  <!-- <button style="background-color: #58d1e9;border-color: #100f11;margin-right: 3px;" type="button" (click)="setUpdate(koko)"  class="btn btn-primary" >View</button> -->

                  <a routerLink="/admin/manage_user_accounts">
                    <button style="background-color: #26cf3d;margin-right: 1rem;" type="button" id="status"
                            class="btn btn-primary" (click)="save()">Verify
                    </button>
                  </a>

                  <a routerLink="/admin/pending_babysitter_list">
                    <button style="background-color: #cf2626;" type="button" id="status" class="btn btn-primary"
                            (click)="saveReject()">Reject
                    </button>
                  </a>


                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>




