<div style="margin-left: 30px;" xmlns="http://www.w3.org/1999/html">
  <img src="../../assets/sewmi.jpg" alt="profile" width="200" height="200" class="img-fluid rounded-circle">
</div>
<div style="padding-left: 10px;padding-top: 20px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/main/parent_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-th"></i>
    <label>Dashboard</label>
  </div>
  <div
    routerLink="/main/baby_details"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-baby"></i>
    <label>Baby Details</label>
  </div>
  <div
    routerLink="/main/parent_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-clipboard-list"></i>
    <label>Task List</label>
  </div>
  <div
    routerLink="/main/view_baby_sitters"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-search"></i>
    <label>Search Babysitters</label>
  </div>
  <div
    routerLink="/main/parent_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-users"></i>
    <label>Community</label>
  </div>
  <div
    routerLink="/main/parent_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-tv"></i>
    <label>Live Stream</label>
  </div>


</div>
