<app-header></app-header>
<div class="" style="min-height: calc(100vh - 325px)">
  <div style="display: grid;justify-content: center;margin-top: 100px;margin-bottom: 100px">
    <div id="loginSec" style="width: 750px;padding: 40px;border-radius: 20px">
      <!--<div-->
      <!--style="font-size: 28px;color: #b97700;border-bottom: 3px solid orange;padding-bottom: 10px;font-weight: bold">-->
      <!--Sign Up-->
      <!--</div>-->

      <div style="text-align: center">
        <button class="btn btn-warning" style="font-weight: bold;font-size: 25px" routerLink="/applicant_regestration">
          Parent Registration
        </button>
        <br>
        <button class="btn btn-warning" style="font-weight: bold;font-size: 25px;margin-top: 60px" routerLink="/driver_registration">
          Admin Registration
        </button>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>

