<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200&family=Sofia+Sans:wght@1;200;300;400&family=Stylish&family=Sunshiney&display=swap" rel="stylesheet">
</header>

<app-home-header></app-home-header>

<body>
  <div class="body-content d-flex align-items-stretch " style="background-color: rgba(223, 221, 255, 0.5)" >
    <div class="brand-name align-self-center m-lg-5" >
      <h1><span style="color: #242199">Cuddle</span> Care</h1>
      <p style="font-family: 'Stylish', sans-serif; font-size: 20px">Track Your Baby's Growth, Health, and Happiness with Our Smart Baby Care System.</p>
    </div>
    <div class="image-container align-self-center m-lg-10">
      <img alt=""  src="../../assets/home-background-image.svg" width="820px">
    </div>
  </div>
</body>




<app-footer></app-footer>

