<!--adding header-->
<app-home-header></app-home-header>

<body >
  <div class="body-content d-flex align-items-stretch " style="background-color: rgba(223, 221, 255, 0.5)" >
    <div class="brand-name align-self-center m-lg-5" >
      <h1><span style="color: #242199">Cuddle</span> Care</h1>
      <p style="font-family: 'Stylish', sans-serif; font-size: 25px">Track Your Baby's Growth, Health, and Happiness with Our Smart Baby Care System.</p>
    </div>
    <div class="image-container align-self-center m-lg-10">
      <img alt=""  src="../../assets/home-background-image.svg" width="820px">
    </div>
  </div>
  <div class="description mt-5 p-5">
    <div class="tile text-center mb-5 pb-5 " style="color:#4B4389 ; font-family: 'Sofia Sans', sans-serif; font-size: 60px">
      <h1>OUR MAIN FEATURES</h1>
    </div>
    <div class="container m-5">
      <div class="cards me-lg-5 pe-5">
        <div class="card-1 d-flex align-items-stretch ">
          <div class="image col-md-5 text-center">
            <img alt=""  src="../../assets/home-content-1.svg" width="350px">
          </div>
          <div class="content col-md-6 " style="background-color: #EDECFF ; font-family: 'Sofia Sans', sans-serif;">
            <h3 style="color:#4B4389 ">Comprehensive Growth Tracking</h3>
            <p> Monitor your baby's height, weight, and head circumference with precision and visualize their growth journey over time.</p>
          </div>
        </div>
        <div class="card-2 d-flex align-items-stretch ">
          <div class="content col-md-6 ms-lg-5" style="background-color: #EDECFF ; font-family: 'Sofia Sans', sans-serif;">
            <h3 style="color:#4B4389 ">Health Tracking Made Easy</h3>
            <p>Stay on top of your baby's well-being by tracking vital signs, sleep patterns, and feeding schedules effortlessly.</p>
          </div>
          <div class="image col-md-6 text-center">
            <img alt=""  src="../../assets/home-content-2.svg" width="320px">
          </div>
        </div>
        <div class="card-3 d-flex align-items-stretch ">
          <div class="image col-md-6 text-center">
            <img alt=""  src="../../assets/home-content-3.svg" width="350px">
          </div>
          <div class="content col-md-6" style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <h3 style="color:#4B4389 ">Peace of Mind with Baby Camera</h3>
            <p>Ensure the safety and security of your baby with our state-of-the-art baby camera. Watch over them with high-resolution video streaming, night vision, and the ability to interact through two-way audio</p>
          </div>
        </div>
        <div class="card-4 d-flex align-items-stretch ">
          <div class="content col-md-6 ms-lg-5" style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <h3 style="color:#4B4389 ">Smart Notifications</h3>
            <p>Receive timely alerts and reminders tailored to your baby's needs, empowering you to provide the best care possible.</p>
          </div>
          <div class="image col-md-6 text-center">
            <img alt=""  Src="../../assets/home-content-4.png" width="350px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- adding footer-->
  <app-footer></app-footer>
</body>





