<!--https://www.bootdey.com/snippets/view/bs5-forum-list-->
<!--https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts-->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">

        <div class="profile-content">

          <!-- begin tab-content -->
          <div class="tab-content p-0">
            <button style="background-color: #7E57C2;border-color: #563393" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Add new Discussion</button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Add New Discussion</h4>
                    <button  type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="topic">Topic:</label>
                      <input type="text" class="form-control" id="topic" placeholder="Enter topic">
                    </div>
                    <div class="form-group">
                      <label for="description">Description:</label>
                      <textarea class="form-control" id="description" rows="4" placeholder="Enter description"></textarea>
                    </div>
                  </div>


                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button style="background-color: #7E57C2;border-color: #563393" type="button" class="btn btn-danger" data-bs-dismiss="modal">Add</button>
                  </div>

                </div>
              </div>
            </div>

            <!-- begin #profile-post tab -->
            <div class="tab-pane fade active show" id="profile-post">
              <!-- begin timeline -->
              <ul class="timeline">
                <li>
                  <!-- begin timeline-time -->
                  <div class="timeline-time">
                    <span class="date">today</span>
                    <span class="time">04:20</span>
                  </div>
                  <!-- end timeline-time -->
                  <!-- begin timeline-icon -->
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <!-- end timeline-icon -->
                  <!-- begin timeline-body -->
                  <div class="timeline-body">
                    <div class="timeline-header">
                      <span class="userimage"><img src="assets/sewmi.jpg" alt=""></span>
                      <span class="username"><a href="javascript:;">Sewmi Thimaya</a> <small></small></span>
                      <span class="pull-right text-muted">18 Views</span>
                    </div>
                    <div class="timeline-content">
                      <p>
                        Does your child seem uncomfortable or anxious when something is new or unfamiliar?
                      </p>
                    </div>
                    <div class="timeline-likes">
                      <div class="stats-right">
<!--                        <span class="stats-text">259 Shares</span>-->
                        <span class="stats-text">21 Comments</span>
                      </div>
                      <div class="stats">
                                    <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                    </span>
                        <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                    </span>
                        <span class="stats-total">4.3k</span>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
<!--                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>-->
                    </div>
                    <div class="timeline-comment-box">
                      <div class="user"><img src="assets/sewmi.jpg"></div>
                      <div class="input">
                        <form action="">
                          <div class="input-group">
                            <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                            <span class="input-group-btn p-l-10">
                                          <button style="background-color: #7E57C2;border-color: #563393" class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                          </span>
                          </div>
                        </form>

                      </div>

                    </div>
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                      <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                          <h5>
                            <p>Yes, many children experience discomfort or anxiety when facing something new or unfamiliar. This could manifest as clinginess, shyness, or even crying in some cases. It's a normal response as they are still learning about their environment and how to navigate it.</p>
                          </h5>
<!--                          <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">20 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KenyeW</a></p>-->
<!--                          <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#C++</a> <a class="text-black mr-2" href="#">#AppStrap Theme</a> <a class="text-black mr-2" href="#">#Wordpress</a> </div>-->
                        </div>
                        <div class="col-md-4 op-7">
                          <div class="row text-center op-7">
                            <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">141 Likes</span> </div>
                            <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">122 Replys</span> </div>
<!--                            <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">290 Views</span> </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                      <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                          <h5>
                            <p> Absolutely, children often exhibit signs of unease or anxiety when confronted with new experiences. It's a part of their learning process as they try to understand and adapt to their surroundings. Parents and caregivers play a crucial role in providing support and reassurance during these moments</p>
                          </h5>
<!--                          <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">54 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">DanielD</a></p>-->
<!--                          <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#Development</a> <a class="text-black mr-2" href="#">#AppStrap Theme</a> </div>-->
                        </div>
                        <div class="col-md-4 op-7">
                          <div class="row text-center op-7">
                            <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">256 Likes</span> </div>
                            <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">251 Replys</span> </div>
<!--                            <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">223 Views</span> </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                      <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                          <h5>
                            <p> Certainly, it's quite common for children to feel uneasy or anxious when encountering unfamiliar situations or people. Their reactions might include being cautious, withdrawing, or seeking comfort from a familiar adult. This is a natural part of their emotional development</p>
                          </h5>
<!--                          <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">32 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">AppStrapMaster</a></p>-->
<!--                          <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#Bootstrap 4</a> <a class="text-black mr-2" href="#">#Wordpress</a> </div>-->
                        </div>
                        <div class="col-md-4 op-7">
                          <div class="row text-center op-7">
                            <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">245 Likes</span> </div>
                            <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">116 Replys</span> </div>
<!--                            <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">257 Views</span> </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- end timeline-body -->
                </li>
                <li>
                  <!-- begin timeline-time -->
                  <div class="timeline-time">
                    <span class="date">yesterday</span>
                    <span class="time">20:17</span>
                  </div>
                  <!-- end timeline-time -->
                  <!-- begin timeline-icon -->
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <!-- end timeline-icon -->
                  <!-- begin timeline-body -->
                  <div class="timeline-body">
                    <div class="timeline-header">
                      <span class="userimage"><img src="assets/sewmi.jpg" alt=""></span>
                      <span class="username">Sewmi Thimaya</span>
                      <span class="pull-right text-muted">82 Views</span>
                    </div>
                    <div class="timeline-content">
                      <p>How can I measure my child’s social emotional growth at home?</p>
                    </div>
                    <div class="timeline-footer">
                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
<!--                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>-->
                    </div>
                    <div class="timeline-comment-box">
                      <div class="user"><img src="assets/sewmi.jpg"></div>
                      <div class="input">
                        <form action="">
                          <div class="input-group">
                            <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                            <span class="input-group-btn p-l-10">
                                          <button style="background-color: #7E57C2;border-color: #563393" type="button" class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                          </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- end timeline-body -->
                </li>

              </ul>
              <!-- end timeline -->
            </div>
            <!-- end #profile-post tab -->
          </div>
          <!-- end tab-content -->
        </div>
        <!-- end profile-content -->
      </div>
    </div>
  </div>
</div>
