<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="custom-card">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          <!-- List group items here -->
          <div class="list-group">
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" >Requested Date - 2023/08/14</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data">Name - Piyumini Thalawadane</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data">Email Address - piyuminithalawadane@gmail.com</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data">Work Expection(Time duration per day) - Sunday 08.00AM 05.00PM </p>
            <div class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data">
              No of Babies -
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>



            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-secondary px-3" (click)="acceptrequest()">Accept</button>
              <button type="button" class="btn btn-secondary px-3"  (click)="rejectRequest()">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
