<div class="view-request"><span class="mb-0 text-sm" style="font-weight: bold;">{{parentName}}</span>'s Request Form</div>

<div class="d-flex justify-content-center align-items-center" style="margin-top: 80px">
  <div class="custom-card">
    <div class="card">
      <div class="card-body">

        <div class="container">
          <p class="title">Work Expectation</p>
          <table class="table align-items-center my-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Day</th>
                <th scope="col">From Time</th>
                <th scope="col">To Time</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let day of workDays; let i = index" >
                <td>
                  <span class="mb-0 text-sm">{{ day }}</span>
                </td>
                <td>
                  <span class="mb-0 text-sm">{{ fromTimes[i] }}</span>
                </td>
                <td>
                  <span class="mb-0 text-sm">{{ toTimes[i] }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          
          <p class="title">Baby details</p>
          <table class="table align-items-center my-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">years</th>
                <th scope="col">Months</th>
                <th scope="col">Gender</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let year of years; let i = index" >
                <td>
                  <span class="mb-0 text-sm">{{ year }}</span>
                </td>
                <td>
                  <span class="mb-0 text-sm">{{ months[i] }}</span>
                </td>
                <td>
                  <span class="mb-0 text-sm">{{ genders[i] }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          
          <p class="font-weight-bold title">Special Needs</p>
          <span style="margin-left: 2rem;">{{specialNeeds}}</span>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary px-3" (click)="acceptrequest()">Accept</button>
        <!-- <button type="button" class="btn btn-danger px-3" (click)="rejectRequest()">Reject</button> -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rejectModal">Reject</button>
      </div>
    </div>
  </div>
</div>

<!-- <form id="rejectModal" > -->
  <div class="modal" id="rejectModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="reason">Reason</div>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a reason here" id="floatingTextarea" [(ngModel)]="reason"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-success" (click)="rejectRequest()" data-bs-dismiss="modal" style="margin-bottom: 1rem; margin-right:1rem">confirm</button>
        </div>
      </div>
    </div>
  </div>              
<!-- </form> -->