<div class="d-flex justify-content-center align-items-center" style="margin-top: 80px">
<div class="custom-card">
  <div class="card">
    <div class="card-body">
      <div class="list-group list-group-flush">          <!-- List group items here -->
          <div class="list-group">
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue"  >Requested Date - 2023/08/14</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue" >Name - Piyumini Thalawadane</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue" >Email Address - piyuminithalawadane@gmail.com</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue" >Work Expection(Time duration per day) - Sunday 08.00AM 05.00PM </p>
            <div class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue" >
              No of Babies - 01
            </div>

            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue"  >Age - 2 years Old</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue"  >Gender - female</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue" >If there are any special need - no</p>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-primary px-3" (click)="acceptrequest()">Accept</button>
              <button type="button" class="btn btn-danger px-3" (click)="rejectRequest()">Reject</button>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
