<div class="path">
  Baby-Details > vaccination Details
</div>
<div class="title my-3">
  <div class="card-body">
    <h1 class="card-title">Vaccination Details</h1>
  </div>
  <img src="../../assets/vaccination.svg" class="title-img-top" alt="...">
</div>

<div class="main-container">
  <div class="container">
    <div class="card">
      <div class="form">
        <div class="left-side">
          <div class="left-heading">
            <h3>indeed</h3>
          </div>
          <div class="steps-content">
            <h3>Step <span class="step-number">1</span></h3>
            <p class="step-number-content active">Enter your personal information to get closer to companies.</p>
            <p class="step-number-content d-none">Get to know better by adding your diploma,certificate and education life.</p>
            <p class="step-number-content d-none">Help companies get to know you better by telling then about your past experiences.</p>
            <p class="step-number-content d-none">Add your profile piccture and let companies find youy fast.</p>
          </div>
          <ul class="progress-bar">
            <li class="active">Personal Information</li>
            <li>Education</li>
            <li>Work Experience</li>
            <li>User Photo</li>
          </ul>



        </div>
        <div class="right-side">

        </div>
      </div>
    </div>
  </div>
</div>
