<div class="path">
  Baby-Details > vaccination Details
</div>
<div class="title my-3">
  <div class="card-body">
    <h1 class="card-title">Vaccination Details</h1>
  </div>
  <img src="../../assets/vaccination.svg" class="title-img-top" alt="...">
</div>

<div class="main-container">
  <div class="display">
    <div class="topic d-flex ">
      <h1 style="margin-right:-100px">Year</h1>
      <h1>Vaccine</h1>
    </div>
      <div class="container">
        <ul>
          <div class="active">
            <li class="main">
              <div class="outer_frame_1" data-bs-toggle="modal" data-bs-target="#myModal1">
                <span></span>
              </div>
              <span class="main_step_active"></span>
              <div class="year">
                <span class="year_content-start">start</span>
              </div>
              <div class="timeline"></div>
              <div class="vaccination">
                <p>BCG</p>
                <input type="checkbox" class="vaccine-checkbox">
              </div>
              <div class="sub-steps">
                <li>
                  <span></span>
                  <div class="year">
                    <span class="year_content_sub">2 month</span>
                  </div>
                  <div class="timeline"></div>
                  <div class="vaccination">
                    <p>Penta(D,T,P,HepB & Hib) OPV (1st dose)</p>
                    <input type="checkbox" class="vaccine-checkbox">
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="year">
                    <span class="year_content_sub">4 month</span>
                  </div>
                  <div class="timeline"></div>
                  <div class="vaccination">
                    <p>Penta(D,T,P,HepB & Hib) OPV (2nd dose)</p>
                    <input type="checkbox" class="vaccine-checkbox">
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="year">
                    <span class="year_content_sub">6 month</span>
                  </div>
                  <div class="timeline"></div>
                  <div class="vaccination">
                    <p>Penta(D,T,P,HepB & Hib) OPV (3rd dose)</p>
                    <input type="checkbox" class="vaccine-checkbox">
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="year">
                    <span class="year_content_sub">9 month</span>
                  </div>
                  <div class="timeline"></div>
                  <div class="vaccination">
                    <p>Penta(D,T,P,HepB & Hib) OPV (4th dose)</p>
                    <input type="checkbox" class="vaccine-checkbox">
                  </div>
                </li>
              </div>
            </li>
          </div>
          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>


          <li class="main">
            <div class="outer_frame">
              <span></span>
            </div>
            <span class="main_step"></span>
            <div class="timeline"></div>
            <div class="vaccination">
              <p>MMR[1st Dose]</p>
              <input type="checkbox" class="vaccine-checkbox">
            </div>
            <div class="year">
              <span class="year_content">1 Year</span>
            </div>

          </li>
          <li class="main">
            <div class="outer_frame">
              <span></span>
            </div>
            <span class="main_step"></span>
            <div class="timeline"></div>
            <div class="vaccination"></div>
            <div class="year">
              <span class="year_content">2 Year</span>
            </div>

          </li>
          <li class="main">
            <div class="outer_frame">
              <span></span>
            </div>
            <span class="main_step"></span>
            <div class="timeline"></div>
            <div class="vaccination">
              <p>MMR[2nd Dose]</p>
              <input type="checkbox" class="vaccine-checkbox">
            </div>
            <div class="year">
              <span class="year_content">3 Year</span>
            </div>

          </li>
          <li class="main">
            <div class="outer_frame">
              <span></span>
            </div>
            <span class="main_step"></span>
            <div class="timeline"></div>
            <div class="vaccination"></div>
            <div class="year">
              <span class="year_content">5 Year</span>
            </div>

          </li>
          <li class="main">
            <div class="outer_frame">
              <span></span>
            </div>
            <span class="main_step"></span>
            <div class="timeline"></div>
            <div class="vaccination">
              <p>DT & OPV[5th Dose]</p>
              <input type="checkbox" class="vaccine-checkbox">
            </div>
            <div class="year">
              <span class="year_content">6 Year</span>
            </div>
          </li>
        </ul>
      </div>
  </div>

</div>
