<div style="margin-left: 30px;" xmlns="http://www.w3.org/1999/html">
  <img [src]="profile" alt="profile" width="200" height="200" class="img-fluid rounded-circle">
</div>
  <div style="padding-left: 10px;padding-top: 20px;padding-right: 10px;margin-top: 0px">
    <div
        routerLink="/babysitter/babysitter_dashboard"
        #dashboard="routerLinkActive"
        routerLinkActive
        [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
        <i class="fas fa-th"></i>
        <label>My Parent</label>
    </div>
    <div
        routerLink="/babysitter/view_parents_requests"
        #parentrequest="routerLinkActive"
        routerLinkActive
        [ngStyle]="{'background-color': parentrequest.isActive ? '#7E57C2' : '', 'color': parentrequest.isActive ? '#fff' : ''}">
        <i class="fas fa-user-plus"></i>
        <label>Parent Requests</label>
    </div>
    <div
      routerLink="/babysitter/babysitter_tasklist"
      #tasklist="routerLinkActive"
      routerLinkActive
      [ngStyle]="{'background-color': tasklist.isActive ? '#7E57C2' : '', 'color': tasklist.isActive ? '#fff' : ''}">
      <i class="fas fa-clipboard-list" ></i>
      <label>Task List</label>
    </div>
    <div

      routerLink="/parent/complaints"

      #complaints="routerLinkActive"
      routerLinkActive
      [ngStyle]="{'background-color': complaints.isActive ? '#7E57C2' : '', 'color': complaints.isActive ? '#fff' : ''}">
      <i class="fas fa-users"></i>
      <label>Complaints</label>
    </div>

  </div>
