<div style="margin-left: 30px;" xmlns="http://www.w3.org/1999/html">
  <img src="../../assets/Tharushi.jpg" alt="profile" width="200" height="200" class="img-fluid rounded-circle">
</div>
<div style="padding-left: 10px;padding-top: 20px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/main/babysitter_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-th"></i>
    <label>Dashboard</label>
  </div>
  <div
  routerLink="/main/babysitter_my-profile"
  #my-profile="routerLinkActive"
  routerLinkActive
  [ngStyle]="{'background-color': my-profile.isActive ? '#7E57C2' : '', 'color': my-profile.isActive ? '#fff' : ''}">
  <i class="fas fa-user"></i>
  <label>My Profile</label>
</div>
  <div
    routerLink="/main/babysitter_view-request"
    #view-request="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': view-request.isActive ? '#7E57C2' : '', 'color': view-request.isActive ? '#fff' : ''}">
    <i class="fa-thin fa-list-check"></i>
    <label>View Requests</label>
  </div>
  <div
    routerLink="/main/babysitter_task-list"
    #task-list="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': task-list.isActive ? '#7E57C2' : '', 'color': task-list.isActive ? '#fff' : ''}">
    <i class="fas fa-clipboard-list"></i>
    <label>Task List</label>
  </div>
  <div
    routerLink="/main/babysitter_chat"
    #chat="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': chat.isActive ? '#7E57C2' : '', 'color': chat.isActive ? '#fff' : ''}">
    <i class="fas fa-search"></i>
    <label>Chat</label>
  </div>
  <div
  routerLink="/main/babysitter_blog"
  #blog="routerLinkActive"
  routerLinkActive
  [ngStyle]="{'background-color': blog.isActive ? '#7E57C2' : '', 'color': blog.isActive ? '#fff' : ''}">
  <i class="fas fa-blog"></i>
  <label>Blog</label>
</div>
</div>
