<div style="margin-left: 30px;" xmlns="http://www.w3.org/1999/html">
  <img src="../../assets/sewmi.jpg" alt="profile" width="200" height="200" class="img-fluid rounded-circle">
</div>
<div style="padding-left: 10px;padding-top: 20px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/domain_expert/domain_expert_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-th"></i>
    <label>Dashboard</label>
  </div>
  <div
    routerLink="/domain_expert/manage_blogs"

    #moderateBlog="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': moderateBlog.isActive ? '#7E57C2' : '', 'color': moderateBlog.isActive ? '#fff' : ''}">
    <i class="fas fa-blog"></i>
    <label>Moderate Blogs</label>
  </div>
  <div

    routerLink="/domain_expert/moderate_forum"

    #moderateCommunity="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': moderateCommunity.isActive ? '#7E57C2' : '', 'color': moderateCommunity.isActive ? '#fff' : ''}">
    <i class="fas fa-users"></i>
    <label>Moderate Community</label>
  </div>

</div>
