<div class="form d-flex justify-content-center" style="text-align: center;font-family: 'Sofia Sans', sans-serif">
  <div class="main-container">
    <div class="image-container">
      <img alt="" src="../../assets/loginbackground.svg" width="1100px" height="660px">
    </div>

    <div class="container p-2 "
         style="margin-top:80px;border-radius: 40px;text-align: center;font-family: 'Sofia Sans', sans-serif">
      <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit()" novalidate>
        <h3 style="text-align: center;font-weight: bold" class="h1 mb-4">
          <i class="fas fa-arrow-alt-circle-left" routerLink="/home"></i>
         Login
        </h3>
        <div class="row mb-4" style="margin-left:12%;text-align: center">
          <div class="col-sm-10" style="text-align: center">
            <input type="email" [(ngModel)]="user.email"
                   #email="ngModel"
                   name="email" class="form-control" id="inputEmail3" placeholder="Email" required>
            <div *ngIf="email.errors?.['required'] && (email.touched || loginForm.submitted)"
                 class="validErr">
              Email is required
            </div>
          </div>
        </div>
        <div class="row mb-4" style="margin-left:12%;text-align: center">
          <div class="col-sm-10">
            <input type="password" [(ngModel)]="user.password"
                   #password="ngModel"
                   name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
            <div *ngIf="password.errors?.['required'] && (password.touched || loginForm.submitted)"
                 class="validErr">
              Password is required
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-10 d-flex" style="margin-left:13%;font-family: 'Sofia Sans', sans-serif">
            <!--              <div class="form-check d-flex">-->
            <!--                <input class="form-check-input me-2" type="checkbox" id="gridCheck1" style="cursor: pointer">-->
            <!--                <label style="font-family: 'Sofia Sans', sans-serif">-->
            <!--                  Remember Me-->
            <!--                </label>-->
            <!--              </div>-->
            <a routerLink="/forget-password"
               style="text-align: end;margin-left:63%;text-decoration: none;color:#7E57C2;font-weight: bolder">Forget
              password?</a>
          </div>
        </div>
        <button type="submit" class="btn btn-dark mb-3">Login</button>
        <div style="margin-top: 5px;font-family: 'Sofia Sans', sans-serif">Don't have an account?
          <div
            style="font-weight: bold;display:inline;cursor: pointer;color:#7E57C2;font-family: 'Sofia Sans', sans-serif"
            routerLink="/signup">Sign up
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="image p-2 ms-5">
    <img src="assets/loginimage.svg" style="height: 620px;width: 620px;" alt="">
  </div>
</div>

