.topic_image {
  float: right;
  width: 164px; /* Adjust size for smaller screens */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Add margin to separate from text */
}

.topic {
  font-family: "Sofia Sans";
  font-weight: bold;
  font-size: 24px; /* Adjust font size for smaller screens */
  color: #39315d;
  padding-left: 51px; /* Adjust padding for smaller screens */
  padding-top: 38px; /* Adjust padding for smaller screens */
}

/* Media queries for responsiveness */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */


  .topic_image {
    width: 80px; /* Adjust size for smaller screens */
    margin-top: 10px;
  }

  .topic {
    font-size: 20px; /* Adjust font size for smaller screens */
    padding-left: 10px; /* Adjust padding for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }
}

