<div class="row">
  <!-- Left Div Box -->
  <div class="col-lg-6">
    <div class="left-box p-3"
         style="background-color: #e8e3fc; border-radius: 10px; box-shadow: 0 3px 2px 0px #563393;">
      <!-- Content for the left box -->
      <h3 style="font-size: 20px;">Free Plan</h3>
      <h4>LKR.00.00 / month</h4>
      <hr>
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <!-- Your content here -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">
            <p>Find your Babysitter</p>
            <p>Growth Parameters</p>
            <p>Growth Measurements</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">

            <button *ngIf="myplan === 'premium'" class="btn btn-primary btn-block rounded-2" (click)="activateFree()"
                    style="background-color: #563393; border-color: #27183f; border-radius: 7px; color: white;">
              Activate free plan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Div Box -->
  <div class="col-lg-6">
    <div class="right-box p-3"
         style="background-color: #e8e3fc; border-radius: 10px; box-shadow: 0 3px 2px 0px #563393;">
      <!-- Content for the right box -->
      <h3 style="font-size: 20px;">Premium Plan</h3>
      <h4>LKR. 10000.00 / month</h4>
      <hr>
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">
            <!-- Your content here -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">
            <p>Basic Features</p>
            <p>Live Stream</p>
            <p>Get alerts live</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">
            <button *ngIf="myplan === 'free'" class="btn btn-primary btn-block rounded-2" (click)="upgradeToPremium(1000)"
                    style="background-color: #563393; border-color: #27183f; border-radius: 7px; color: white;">
              Upgrade to Premium plan
            </button>
            <div *ngIf="success">
              <h1>Your Payment is complete successfully</h1>
            </div>
            <div *ngIf="failure">
              <h1>Some Error is taken place inside the payment</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
