<div class="container">
  <div class="row">
    <h3>My Plan</h3>
    <!-- Left Div Box -->
    <div class="col-lg-6">
      <div class="left-box p-3" style="background-color: #F5F5F5; margin: 10px 0 0 0">
        <!-- Content for the left box -->
        <h4>Free Plan</h4>
        <h6>LKR.00.00 / month</h6>
        <hr>
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <button class="btn btn-primary btn-block rounded-2" style="background-color: #000000; border-radius: 5px; color: white;">
                Free 30 Day -Trial
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>

            </div>
          </div>
        </div>


        <hr>

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <button class="btn btn-primary btn-block rounded-2" style="background-color: #AFAAF9; border-radius: 7px; color: white;">
                Current Plan
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Right Div Box -->
    <div class="col-lg-6">
      <div class="right-box p-3" style="background-color: #F5F5F5; margin: 10px 15px 0 0">
        <!-- Content for the right box -->
        <h4>Premium Plan</h4>
        <h6>LKR. 10000.00 / month</h6>
        <hr>
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <button class="btn btn-primary btn-block rounded-2" style="background-color: #000000; border-radius: 5px; color: white;">
                Free 30 Day -Trial
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>
           
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">
            <button class="btn btn-primary btn-block rounded-2" style="background-color: #AFAAF9; border-radius: 7px; color: white;">
              Current Plan
            </button>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
