<div class="container">

    <div style="background-color: #e8e3fc; width: 365px; height: 120px; padding: 5px 0 0 5px; margin-top: 10px; margin-bottom: 30px; border-radius: 10px; box-shadow: 0 2px 2px 0px #563393;">
      <img class="topic_image" src="../../assets/Plan.svg">
      <h3 class="topic">My Plan</h3>

    </div>
  <div class="row">
    <!-- Left Div Box -->
    <div class="col-lg-6">
      <div class="left-box p-3" style="background-color: #e8e3fc;border-radius: 10px; box-shadow: 0 3px 2px 0px #563393;">
        <!-- Content for the left box -->
        <h3 style="font-size: 20px; ">Free Plan</h3>
        <h4>LKR.00.00 / month</h4>
        <hr>
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <button class="btn btn-primary btn-block rounded-2" style="background-color:#563393; border-color: #27183f; border-radius: 5px; color: white;">
                Free 30 Day -Trial
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>

            </div>
          </div>
        </div>


        <hr>

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <button class="btn btn-primary btn-block rounded-2" style="background-color: #563393; border-color: #27183f; border-radius: 7px; color: white;">
                Current Plan
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Right Div Box -->
    <div class="col-lg-6">
      <div class="right-box p-3" style="background-color: #e8e3fc;border-radius: 10px; box-shadow: 0 3px 2px 0px #563393;">
        <!-- Content for the right box -->
        <h3  style="font-size: 20px;">Premium Plan</h3>
        <h4>LKR. 500.00 / month</h4>
        <hr>
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <button class="btn btn-primary btn-block rounded-2" style="background-color:#563393; border-color: #27183f; border-radius: 5px; color: white;">
                Free 30 Day -Trial
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="text-center">
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>
              <p>Basic Features</p>

            </div>
          </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="text-center">
            <button class="btn btn-primary btn-block rounded-2" style="background-color: #563393; border-color: #27183f; border-radius: 7px; color: white;">
              Current Plan
            </button>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
