<div class="container py-5">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card rounded-0 border-0 shadow">
        <div class="card-body p-5">
          <!--  Bootstrap table-->
          <div class="table-responsive">



            <p><strong>Date : </strong>2023/07/10</p>
            <p><strong>Task List Name : </strong>Sunday Task List</p>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task Name</th>
                <th scope="col">Time</th>
                <th scope="col">Send reminders</th>
                <th scope="col">Any special Note</th>
                <th>Completed</th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td>1</td>
                <td>Feeding</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <i style="color: blueviolet" class="fa fa-check-circle finished-icon"></i>
                </td>
              </tr>
              <tr >
                <td>2</td>
                <td>Preapare meal</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <i style="color: blueviolet" class="fa fa-check-circle finished-icon"></i>
                </td>
              </tr>
              <tr >
                <td>3</td>
                <td>Give medicine</td>
                <td>8.00AM</td>
                <td>
                  <i style="color: #0c4548" class="fa fa-check-circle finished-icon"></i>
                </td>

                <td>Any note</td>
                <td>
                  <i style="color: blueviolet" class="fa fa-check-circle finished-icon"></i>
                </td>
              </tr>
              <tr >
                <td>4</td>
                <td>Washing clothes</td>
                <td></td>
                <td></td>
                <td>Any note</td>
                <td>
                  <i style="color: blueviolet" class="fa fa-check-circle finished-icon"></i>
                </td>
              </tr>
              <tr >
                <td>5</td>
                <td>Dressing up</td>
                <td></td>
                <td></td>
                <td>Any note</td>
                <td>
                  <i style="color: blueviolet" class="fa fa-check-circle finished-icon"></i>
                </td>

              </tr>
              <tr >
                <td>6</td>
                <td>Give medicine</td>
                <td>12.00PM</td>
                <td></td>
                <td>Any note</td>
                <td>
                  <i style="color: blueviolet" class="fa fa-check-circle finished-icon"></i>
                </td>
              </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
