<div class="container-fluid">
  <div class="mb-3">
    <h3>Personal Information</h3>
    <div
      style="background-color: #E0E0E0; height: 130px; width: 412px; border-radius: 5px; margin : 10px 10px 10px 15px; padding: 10px 10px 10px 10px;">

      <h4>Sewmi Thimaya</h4>

      <p>I have followed a first aid course at NHSL in 2015.
        And also i have 5 years working experiance as a babysitter.</p>


    </div>
    <ul  style="background-color: #D0F2F6; border-radius: 5px; margin: 10px 10px 10px 15px;height: 230px; width: 412px">
      <h4>Qualification List</h4>
      <li class="list-group-item">(01)Copy of BC </li>
      <li class="list-group-item">(02)Copy of ID</li>
      <li class="list-group-item">(03)Police clearance CF</li>
      <li class="list-group-item">(04)Dependance CF</li>
      <li class="list-group-item">(05)Extra </li>
    </ul>
  </div>
</div>
