.main-content{
    border: 1px solid hwb(244 87% 0%);
    min-height: 400px;
    background-color: #DFDDFF;
    border-radius: 1rem; 
    min-height: 900px;  
    
}

.c{
    top:75px;
    position: fixed;
    width: 500px;
}