
<div class="container py-5" *ngFor="let taskList of taskListForms; let i = index">
  <div class="row" >
    <div class="col-lg-7 mx-auto">
      <!--      <div class="col-lg-7 mx-auto" *ngFor="let taskList of taskListForms; let i = index">-->
      <div class="card rounded-0 border-0 shadow">
        <!--        <div class="card rounded-0 border-0 shadow" *ngFor="let taskList of taskListForms; let i = index">-->
        <div class="card-body p-5">


          <!--          <h2>Task List Name: {{ taskList.listName | json }}</h2>-->
          <h2>Task List Name:{{taskList.taskListName}}</h2>



          <div class="table-wrapper">
            <table class="table">
              <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th>#</th>
                <th scope="col">Task Name</th>
                <th scope="col">Time</th>
                <th scope="col">Send remainders</th>
                <th scope="col">Any note</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let task of taskList.tasks;let k=index">
                <td>{{k+1}}</td>
                <td>
                  <input [ngModel]="task.taskName" [disabled]="true" />
                </td>
                <td>
                  <input [ngModel]="task.time" [disabled]="true" />
                </td>
                <td>
                  <input type="checkbox" [ngModel]="task.isRemainder" [disabled]="true" />
                </td>
                <td>
                  <input type="text" [ngModel]="task.specialNote" [disabled]="true" />
                </td>
              </tr>
              </tbody>

            </table>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-danger" (click)="deleteTemplate(taskList._id)">Delete</button>
            <button class="btn btn-primary" (click)="updateTemplate(taskList._id)" data-bs-toggle="modal" data-bs-target="#updateTaskListModal">Update</button>
            <button class="btn btn-success" (click)="openAddDateModal()" data-bs-toggle="modal" data-bs-target="#addDateForTemplate">Add Date</button>
          </div>

        </div>
      </div>
    </div>
  </div>






<form #requestFormForm="ngForm" (ngSubmit)="addDate(taskList._id)" id="requestForm" >
  <div class="modal" id="addDateForTemplate">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add  Date</h5>
          <button style="background-color: #39315d ; border-radius: 15px ;" type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="container">
          <div class="modal-body">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="modal-footer" style="margin-top: 20px">
          <button type="submit" style="background-color: #563393;border-color: #563393" class="btn btn-danger" data-bs-dismiss="modal">Add Date</button>
        </div>

      </div>
    </div>
  </div>

</form>

</div>
