/* styles.css or your custom stylesheet */
.custom-modal-lg {
  max-width: 100%; /* Adjust the maximum width as needed */
  width: 100%; /* Adjust the width as needed */
  /* Add other styling properties if necessary */
}

/* styles.css or your custom stylesheet */
.custom-text-color {
  color: #7A4988;
}
