<div style="margin-left: 30px;" xmlns="http://www.w3.org/1999/html">
  <img src="../../assets/sewmi.jpg" alt="profile" width="200" height="200" class="img-fluid rounded-circle">
</div>
<div style="padding-left: 10px;padding-top: 20px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/main/admin_dashboard"
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-th"></i>
    <label>Dashboard</label>
  </div>
  <div
    routerLink="/main/manage_user_accounts"
    #manageUserAccounts="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': manageUserAccounts.isActive ? '#7E57C2' : '', 'color': manageUserAccounts.isActive ? '#fff' : ''}">
    <i class="fas fa-baby"></i>
    <label>Manage user accounts</label>
  </div>
  <div
    routerLink="/main/verify_babysitter"
    #verifyBabysitters="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': verifyBabysitters.isActive ? '#7E57C2' : '', 'color': verifyBabysitters.isActive ? '#fff' : ''}">
    <i class="fas fa-clipboard-list"></i>
    <label>Verify Baby Sitters</label>
  </div>
  <div
    routerLink="/main/handle_complaints"
    #handleComplaints="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': handleComplaints.isActive ? '#7E57C2' : '', 'color': handleComplaints.isActive ? '#fff' : ''}">
    <i class="fas fa-search"></i>
    <label>Complaints Handle</label>
  </div>
  <div
    routerLink="/main/handle_payments"
    #handlePayments="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': handlePayments.isActive ? '#7E57C2' : '', 'color': handlePayments.isActive ? '#fff' : ''}">
    <i class="fas fa-users"></i>
    <label>Payments Handle</label>
  </div>
  <div
    routerLink="/main/edit_sys_info"
    #editSysInfo="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': editSysInfo.isActive ? '#7E57C2' : '', 'color': editSysInfo.isActive ? '#fff' : ''}">
    <i class="fas fa-tv"></i>
    <label>Edit system Info</label>
  </div>


</div>
