<div style="margin-left: 30px;" xmlns="http://www.w3.org/1999/html">
  <img src="../../assets/user.jpg" alt="profile" width="200" height="200" class="img-fluid rounded-circle">
</div>
<div style="padding-left: 10px;padding-top: 20px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/admin/admin_dashboard"se
    #dashboard="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': dashboard.isActive ? '#7E57C2' : '', 'color': dashboard.isActive ? '#fff' : ''}">
    <i class="fas fa-th"></i>
    <label>Dashboard</label>
  </div>
  <div
    routerLink="/admin/manage_user_accounts"
    #manageUserAccounts="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': manageUserAccounts.isActive ? '#7E57C2' : '', 'color': manageUserAccounts.isActive ? '#fff' : ''}">

    <i class="fas fa-users"></i>
    <label>Manage user accounts</label>

  </div>
  <div
    routerLink="/admin/pending_babysitter_list"
    #verifyBabysitters="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': verifyBabysitters.isActive ? '#7E57C2' : '', 'color': verifyBabysitters.isActive ? '#fff' : ''}">
    <i class="fas fa-clipboard-check"></i>
    <label>Pending Baby Sitters</label>
  </div>
  <div
    routerLink="/admin/handle_complaints"
    #handleComplaints="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': handleComplaints.isActive ? '#7E57C2' : '', 'color': handleComplaints.isActive ? '#fff' : ''}">

    <i class="fas fa-clipboard-list"></i>
    <label>Complaints Handling</label>
  </div>
  <div
    routerLink="/admin/handle_payments"
    #handlePayments="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': handlePayments.isActive ? '#7E57C2' : '', 'color': handlePayments.isActive ? '#fff' : ''}">
    <i class="fas fa-credit-card"></i>

    <label>Payments Handling</label>
  </div>
  <div
    routerLink="/admin/edit_sys_info"
    #editSysInfo="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'background-color': editSysInfo.isActive ? '#7E57C2' : '', 'color': editSysInfo.isActive ? '#fff' : ''}">
    <i class="far fa-pen-to-square"></i>
    <label>Edit system Info</label>
  </div>
<!--  <div-->
<!--    routerLink="/admin/add_moderator"-->
<!--    #editSysInfo="routerLinkActive"-->
<!--    routerLinkActive-->
<!--    [ngStyle]="{'background-color': editSysInfo.isActive ? '#7E57C2' : '', 'color': editSysInfo.isActive ? '#fff' : ''}">-->
<!--    <i class="far fa-pen-to-square"></i>-->
<!--    <label>Add domain expert</label>-->
<!--  </div>-->


</div>
