/* Custom CSS */
.custom-card {
  background-color: #DFDDFF;
  margin: 30px 5px ;
  padding: 20px 20px 20px 20px;
}


.custom-img {

  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
}

.topic_image{
  float: right;
  width: 135px;
  height: 117px;
  /*padding: 0 10px 10px 10px;*/
  /*padding-right: 10px;*/
  /*padding-top: 10px;*/
  /*border-radius: 50%;*/
}
.topic{
  font-family: "Sofia Sans";
  font-weight: bold;
  font-size:30px ;
  color: #39315d;
  padding-left:50px ;
  padding-top: 37px;
}
