<div class="container-fluid">
  <div class="mb-3">
    <h3>Baby details</h3>


    <div class="card custom-card" style="width: 65rem; height: 400px">
      <div class="d-flex justify-content-center">

        <div class="card custom-card" style="width: 15rem; height:260px ;background-color: #FFFFFF;
  margin: 30px 10px 30px 10px ;

}">
          <div class="d-flex justify-content-center">
            <img class="card-img-top custom-img" src="../../assets/sewmi.jpg">
          </div>


        </div>

        <div class="card custom-card" style="width:40rem; background-color: #FFFFFF;
  margin: 30px 10px 30px 10px ;

}">
          <p class="font-weight-bold">First Name</p>
          <input type="text" class="form-control">
          <p class="font-weight-bold">Last Name</p>
          <input type="text" class="form-control">
          <p class="font-weight-bold">Date of Birth </p>
          <input type="text" class="form-control">


        </div>


      </div>
    </div>

    <div class="card custom-card" style="width: 65rem; height: 400px;">
      <h3>Categories</h3>
      <div class="d-flex justify-content-center">

        <!-- First Inner Card -->
        <a href="#">
          <div class="card custom-card" style="width: 13rem; height: 230px; background-color: rgba(255, 0, 0, 0.33); margin: 30px 10px;">
            <div class="d-flex justify-content-center">
              <img class="card-img-top custom-img" src="../../assets/1.png"style="height: 157px;width: 142px;border-radius: 50%">
            </div>
            <h6 class="card-title">Vaccination Details</h6>
          </div>
        </a>

        <!-- Second Inner Card -->
        <a href="#">
          <div class="card custom-card" style="width: 13rem; height: 230px; background-color: rgba(81, 202, 202, 0.42); margin: 30px 10px;">
            <div class="d-flex justify-content-center">
              <img class="card-img-top custom-img" src="../../assets/2.png"style="height: 113px;width: 194px">
            </div>
            <h6 class="card-title">Growth Parameters</h6>
          </div>
        </a>

        <!-- Third Inner Card -->
        <a href="#">
          <div class="card custom-card" style="width: 13rem; height: 230px; background-color: rgba(236, 181, 214, 0.7552); margin: 30px 10px;">
            <div class="d-flex justify-content-center">
              <img class="card-img-top custom-img" src="../../assets/3.png"style="height: 175px;width: 116px">
            </div>
            <h6 class="card-title">Doctor Visits</h6>
          </div>
        </a>

        <!-- Fourth Inner Card -->
        <a href="#">
          <div class="card custom-card" style="width: 13rem; height: 230px; background-color: #C5E8DC; margin: 30px 10px;">
            <div class="d-flex justify-content-center">
              <img class="card-img-top custom-img" src="../../assets/4.png"style="height: 120px;width: 120px;border-radius: 50%">
            </div>
            <h6 class="card-title">Growth Measurements</h6>
          </div>
        </a>

      </div>
    </div>

  </div>
</div>
