/* Custom CSS */
.main_container{
  background-color: #C4BCE5;
  margin: 0px;
}

.custom-card {
  background-color: #DFDDFF;
  margin: 30px 5px;
  padding: 20px 20px 20px 20px;
}


/* Shared styles */
.custom-img {
  width: 100%; /* Take full width of the container */
  height: 235px; /* Maintain aspect ratio */
  object-fit: cover;
  /*margin-top: 10px;*/
  border-radius: 20px;
}

.topic_image {
  float: right;
  width: 100px; /* Adjust size for smaller screens */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Add margin to separate from text */
}

.topic {
  font-family: "Sofia Sans";
  font-weight: bold;
  font-size: 24px; /* Adjust font size for smaller screens */
  color: #39315d;
  padding-left: 20px; /* Adjust padding for smaller screens */
  padding-top: 20px; /* Adjust padding for smaller screens */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .custom-img {
    border-radius: 10px; /* Reduce border radius for smaller screens */
  }

  .topic_image {
    width: 80px; /* Adjust size for smaller screens */
    margin-top: 10px;
  }

  .topic {
    font-size: 20px; /* Adjust font size for smaller screens */
    padding-left: 10px; /* Adjust padding for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }
}
