/* Custom CSS */
.custom-card {
  background-color: #DFDDFF;
  margin: 30px 5px ;
  padding: 20px 20px 20px 20px;
}


.custom-img {

  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
}
