 .custom-card {
    width: 800px;
  }

  .custom-card .card {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #BFBBF1, 0 6px 20px 0 #BFBBF1;
  }


 .btn-custom {
   padding: 0.3rem 1rem; /* Adjust padding as needed */
   font-size: 1rem; /* Adjust font size as needed */
   line-height: 1.5;
   border-radius: 10px;
   border: 1px solid #7E57C2; /* Add border style */
   align-items: center;
   width: 100px;
 }

 .custom-data{
   font-size: 15px;
   font-family: 'Poppins', sans-serif;

 }
 .solved {
  color: blue;
}

.unsolved {
  color: red;
}

