<div class="d-flex justify-content-center align-items-center" style="margin-top: 80px">
  <div class="custom-card">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          <!-- List group items here -->
          <div class="list-group">
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue" >Date - 2023/08/09</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">User Name - Sewmi Thimaya</p>
            <p [ngClass]="{'solved': complaintProfile.status === 'solved', 'unsolved': complaintProfile.status === 'unsolved' }" class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">Status - {{complaintProfile.status}} </p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">Subject - {{complaintProfile.type}}</p>
            <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">Complaints - {{complaintProfile.description}}</p>
            <div class="d-flex justify-content-center">
            <button class="bbtn btn-custom btn-primary" style="background-color: mediumpurple;border-color: #BFBBF1;border-radius: 16px" *ngIf="!isSolved" (click)="showSolvedDetails()">Solve</button>
            </div>
            <ng-container *ngIf="isSolved">
              <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">Admin Name - Rusith Siriwardhana</p>
              <p class="list-group-item list-group-item-action px-3 py-2 mb-2 list-group-item-primary rounded-3 text-center custom-data" style="background-color: aliceblue;border-color: aliceblue">Admin Email - admin@gmail.com</p>
            </ng-container>
            <div class="d-flex align-items-center mb-3">
                  
              <button type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"
                      data-bs-target="#editThankYouModal">
                <!-- <i class="fas fa-edit" style="font-size: 24px; color: black;"></i> -->
                <i class="fas fa-pencil-alt" style="font-size: 20px; color: green;">Add Reason</i>

              </button>
            
          </div>


         

    </div>

    <div  class="modal fade" id="editThankYouModal" tabindex="-1" aria-labelledby="editThankYouModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editThankYouModalLabel">Reason</h4>
            <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <input type="text"  class="form-control mb-3" id="reason" placeholder="Enter Reason here">
            <!-- <button style="background-color: #58d1e9;border-color: #100f11;margin-right: 3px;" type="button" (click)="setUpdate(koko)"  class="btn btn-primary" >View</button> -->
            <a routerLink="/admin/manage_user_accounts">
              <button style="background-color: #427df5;margin-right: 1rem;" type="button" id="reason"  class="btn btn-primary" >Submit</button></a>
            
              
          </div>
        </div>
      </div>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>




