/* Custom styles for the chat UI */
body {
    background-color: #f4f4f4;
  }
  
  .container {
    margin-top: 60px;
    background-color: rgb(203, 184, 243);
    border-radius: 2%;
    width:80%;
    height: 100%;
  }
  
  .card {
    border: none;
    margin-top: 1rem;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  .list-group{
    margin-top: 2rem;
  }
  
  .message {
    margin-top: 1rem;
    margin-bottom: 10px;
    width: 350px;
  }
  .message-1{
    display: flex;
    justify-content: right;
  }
  
  .message-babysitter {
    background-color: #d4e9f5;
    padding: 8px;
    border-radius: 8px;
    max-width: 70%;
  }
  
  .message-parent {
    background-color: #f0f8ff;
    padding: 8px;
    border-radius: 8px;
    max-width: 70%;
    align-self: flex-end;
  }
  
  .input-group {
    margin-top: 20px;
  }
  
  /* Adjust the chat UI for smaller screens */
  @media (max-width: 768px) {
    .col-md-4, .col-md-8 {
      width: 100%;
    }
  }


  /* search bar */
  
.form-control.search-input {
    background-color: #f5f5f5;
    margin-left: 1rem;
    width: 110%;
    border-radius: 5%;
    
  }

  
  
 
  .search{
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
 
   
    
  }

  .dp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  /* .dp-info{
    display: flex;
    flex-direction: column;
    gap:-3rem;

  } */
  .middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

  }

  h3{
    text-align: left;
    font-size: 20px;
  }
  h5{
    font-size:large;
    font-weight: 100;
  }

  .mt-3{
    box-shadow: 0rem 0rem 1rem 1rem rgb(132 139 200 / 40%);

  }
  