<div class="widget-container">

   <div class="widget">
     <div class="icon">
       <fa-icon [icon]="faBaby"></fa-icon>
     </div>
     <div class="value">
       <div class="top">04</div>
       <div class="bottom">Number of Babies</div>
     </div>
   </div>

  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faBaby"></fa-icon>
    </div>
    <div class="value">
      <div class="top"></div>
      <div class="bottom">Your Plan</div>
    </div>
  </div>

  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faBaby"></fa-icon>
    </div>
    <div class="value">
      <div class="top">14</div>
      <div class="bottom">Requested Babysitters</div>
    </div>
  </div>

  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faIdBadge"></fa-icon>
    </div>
    <div class="value">

      <div class="bottom">Your Babysitter</div>
    </div>
  </div>

</div>


