<div class="container mt-5">
  <div class="card" style="background-color: #F4F9FA">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <img class="custom-img" src="../../assets/sewmi.jpg" alt="Profile Picture">
          <h4 class="mt-3">Sewmi Thimaya</h4>
          <h5>Address</h5>
          <p>No 50, Katugastota Road, Kandy</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5>Personal Details</h5>
          <hr>

            <h6 class="mr-2"><b>Gender:</b></h6>
            <p>Female</p>


            <h6 class="mr-2"><b>NIC:</b></h6>
            <p>99554684454V</p>

            <h6 class="mr-2"><b>Contact:</b></h6>
            <p>0815745896</p>

            <h6 class="mr-2"><b>Email:</b></h6>
            <p>abc@gmail.com</p>

        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">



        </div>
      </div>
    </div>
  </div>
</div>
