.custom-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-top: 10px;
}

@media (max-width: 767.98px) {

  .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.card-body{
  padding-left: 50px;
}

element.style {
}
@media (min-width: 768px){
  .col-md-5 {
    flex: 0 0 auto;
    width: 31.666667%;
  }}
@media (min-width: 768px){
.col-md-7 {
  flex: 0 0 auto;
  width: 28.333333%;
}
}
