<nav class="navbar fixed-top navbar-expand-lg"
     style="background: linear-gradient(to right, #BFBBF1, #FFDDFC, #DDFFFF, #F6DDFF, #BCB8E8)">
  <div class="container-fluid">
    <img src="../../assets/logo.png" width="80px">
    <a class="navbar-brand" href="#">Cuddle Care</a>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-dark border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cuddle Care</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Contact</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="../../about_us">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../contact_us">Contact Us</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-dark" type="button" routerLink="/login">Login</button>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
