<div class="container-fluid">
  <div class="mb-3">
    <h3>Baby Sitters</h3>


    <button type="button" class="btn btn-primary">
      Requested Baby Sitters
    </button>


    <div class="card custom-card" style="width: 65rem; height: 420px; margin-top: 20px ">

      <div class="d-flex justify-content-center " style="margin-top: 20px ;height: 360px">
        <div class="card custom-card" style="width: 15rem; background-color: #BCE3E5;">
          <div class="d-flex justify-content-center">
            <img class="card-img-top custom-img" src="../../assets/sewmi.jpg">


          </div>

          <div
            style="background-color: white; height: 130px; width: 205px; border-radius: 5px; margin : 10px 10px 10px 15px; padding: 10px 10px 10px 10px;">

            <h4>Sewmi Thimaya</h4>

            <h6>Location : </h6>
            <h6>Charge for hour : </h6>
            <h6>Rate : </h6>

            <a routerLink="view_baby_details" class="btn btn-primary " style="margin-top: 15px">View Profile</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Suggessions</h3>



<div class="card custom-card" style="width: 65rem; height: 365px; margin-top: 20px ">

  <div class="d-flex justify-content-center " style="margin-top: 20px ;height: 296px">

    <div class="card custom-card" style="width: 15rem; background-color: #BCE3E5;">

      <h4>Sewmi Thimaya</h4>

      <h6>Location : </h6>
      <div class="d-flex justify-content-center">
        <img class="card-img-top custom-img" src="../../assets/sewmi.jpg">


      </div>

      <div>

        <a routerLink="view_baby_details" class="btn btn-primary " style="margin-top: 15px">View Profile</a>

    </div>
  </div>
</div>
</div>
