/*!* Custom CSS *!*/
/*.custom-card {*/
/*  background-color: #e8e3fc;*/
/*  margin-left: 50px;*/
/*}*/

/*search bar*/
.form-input {
  display: flex;
  align-items: center;
  height: 36px;
  width: 300px;
}

.form-input:hover{
  transform: translateY(-2px);
}

.form-input input {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background:#FFFFFF;
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: #000000;
}
.form-input button {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(111, 90, 158, 1);
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

.custom-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-top: 15px;
}

.topic_image {
  float: right;
  width: 105px; /* Adjust size for smaller screens */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Add margin to separate from text */
}

.topic {
  font-family: "Sofia Sans";
  font-weight: bold;
  font-size: 24px; /* Adjust font size for smaller screens */
  color: #39315d;
  padding-left: 71px; /* Adjust padding for smaller screens */
  padding-top: 39px; /* Adjust padding for smaller screens */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .topic_image {
    width: 80px; /* Adjust size for smaller screens */
    margin-top: 10px;
  }

  .topic {
    font-size: 20px; /* Adjust font size for smaller screens */
    padding-left: 10px; /* Adjust padding for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }
}

.babysitter{
  font-family: "Sofia Sans";
  font-weight: bold;
  font-size: 36px; /* Adjust font size for smaller screens */
  text-align: center;
  color: #39315d;
  padding-left: 71px; /* Adjust padding for smaller screens */
  padding-top: 39px; /* Adjust padding for smaller screens */ 
  padding-bottom: 2rem;
}

.btn-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.babysitter-card{
  display: flex;
  justify-content: space-between;
}