<div class="container-fluid">
  <div class="mb-3">
    <div style="background-color: #e8e3fc; width: 365px; height: 120px; padding: 5px 0 0 5px; margin-top: 10px; border-radius: 10px; box-shadow: 0 2px 2px 0px #563393;">
      <img class="topic_image" src="../../assets/sitter.svg">
      <h3 class="topic">Baby Sitters</h3>
    </div>

    <div class="d-flex justify-content-end mb-2">
      <button type="button" class="btn btn-primary">
        Requested Baby Sitters
      </button>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-8 col-lg-6">
        <div class="card custom-card">
          <div class="d-flex justify-content-center mt-3">
            <img class="card-img-top custom-img" src="../../assets/sewmi.jpg">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">Sewmi Thimaya</h4>
            <h6 class="card-subtitle mb-2 text-muted">Location:</h6>
            <h6 class="card-subtitle mb-2 text-muted">Charge for hour:</h6>
            <h6 class="card-subtitle mb-2 text-muted">Rate:</h6>
            <a routerLink="/main/sitter_personal_information" class="btn btn-primary mt-3" >View Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #e8e3fc; width: 1324px; height: 103px; padding: 5px 0 0 5px; margin-top: 10px; border-radius: 10px; box-shadow: 0 2px 2px 0px #563393; text-align: center;">

  <h3 class="topic">Suggestions</h3>
</div>


<div class="row justify-content-center mt-4">
  <div class="col-md-6 col-lg-4">
    <div class="card custom-card">
      <div class="d-flex justify-content-center">
        <img class="card-img-top custom-img" src="../../assets/sewmi.jpg">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Sewmi Thimaya</h4>
        <h6 class="card-subtitle mb-2 text-muted">Location:</h6>
        <a routerLink="view_baby_details" class="btn btn-primary mt-3">View Profile</a>
      </div>
    </div>
  </div>
</div>
