<app-header></app-header>





  <body>

  <div class="description mt-5 p-5">

    <div class="container m-5">
      <div class="cards me-lg-5 pe-5">


        <div class="card-2 d-flex align-items-stretch">

          <div class="content col-md-6 ms-lg-5"
               style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <div class="d-flex align-items-center mb-3">
              <h3 style="color:#4B4389">
                About Cuddle Care
<!--                <button  type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"-->
<!--                         data-bs-target="#editAboutModal">-->
<!--                  <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--                </button>-->
              </h3>
            </div>
            <p>
              Stay on top of your baby's well-being by tracking vital signs, sleep patterns, and feeding schedules
              effortlessly.
            </p>
          </div>

          <div class="image col-md-6 text-center">
            <img id="selectedImage" alt="" src="../../assets/home-content-2.svg" width="320px">
<!--            <button  type="button" class="btn btn-link edit-button mt-2" data-bs-toggle="modal"-->
<!--                     data-bs-target="#editImageModal">-->
<!--              <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--            </button>-->
          </div>


              </div>
            </div>
          </div>




        </div>




        <hr>


        <div class="card-3 d-flex align-items-stretch">

          <div class="image col-md-6 text-center">
            <img alt="" src="../../assets/home-content-3.svg" width="350px">
<!--            <button  type="button" class="btn btn-link edit-button mt-2" data-bs-toggle="modal"-->
<!--                     data-bs-target="#editImageModal">-->
<!--              <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--            </button>-->
          </div>





          <div class="content col-md-6" style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <div class="d-flex align-items-center mb-3">
              <h3 style="color:#4B4389">
                Goals of Cuddle Care
<!--                <button  type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"-->
<!--                         data-bs-target="#editGoalsModal">-->
<!--                  <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--                </button>-->
              </h3>
            </div>
            <p>
              Ensure the safety and security of your baby with our state-of-the-art baby camera. Watch over them with
              high-resolution video streaming, night vision, and the ability to interact through two-way audio.
            </p>
          </div>

        </div>




        <hr>


        <div class="card-4 d-flex align-items-stretch">

          <div class="content col-md-6 ms-lg-5"
               style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <div class="d-flex align-items-center mb-3">
              <h3 style="color:#4B4389">
                Services from Cuddle Care
<!--                <button  type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"-->
<!--                         data-bs-target="#editServicesModal">-->
<!--                  <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--                </button>-->
              </h3>
            </div>
            <p>
              Receive timely alerts and reminders tailored to your baby's needs, empowering you to provide the best care
              possible.
            </p>
          </div>

          <div class="image col-md-6 text-center">
            <img alt="" src="../../assets/home-content-4.png" width="350px">
<!--            <button  type="button" class="btn btn-link edit-button mt-2" data-bs-toggle="modal"-->
<!--                     data-bs-target="#editImageModal">-->
<!--              <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--            </button>-->
          </div>





        </div>




        <hr>


        <div class="card-3 d-flex align-items-stretch">

          <div class="image col-md-6 text-center">
            <img alt="" src="../../assets/home-content-3.svg" width="350px">
<!--            <button  type="button" class="btn btn-link edit-button mt-2" data-bs-toggle="modal"-->
<!--                     data-bs-target="#editImageModal">-->
<!--              <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--            </button>-->
          </div>




          <div class="content col-md-6" style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <div class="d-flex align-items-center mb-3">
              <h3 style="color:#4B4389">
                Vision of Cuddle Care
<!--                <button  type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"-->
<!--                         data-bs-target="#editVisionModal">-->
<!--                  <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--                </button>-->
              </h3>
            </div>
            <p>
              Ensure the safety and security of your baby with our state-of-the-art baby camera. Watch over them with
              high-resolution video streaming, night vision, and the ability to interact through two-way audio.
            </p>
          </div>

        </div>




        <hr>


        <div class="card-4 d-flex align-items-stretch">

          <div class="content col-md-6 ms-lg-5"
               style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <div class="d-flex align-items-center mb-3">
              <h3 style="color:#4B4389">
                Our team at Cuddle Care
<!--                <button  type="button" class="btn btn-link edit-button ms-2" data-bs-toggle="modal"-->
<!--                         data-bs-target="#editTeamModal">-->
<!--                  <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--                </button>-->
              </h3>
            </div>
            <p>
              Receive timely alerts and reminders tailored to your baby's needs, empowering you to provide the best care
              possible.
            </p>
          </div>

          <div class="image col-md-6 text-center">
            <img alt="" src="../../assets/home-content-4.png" width="350px">
<!--            <button type="button" class="btn btn-link edit-button mt-2" data-bs-toggle="modal"-->
<!--                    data-bs-target="#editImageModal">-->
<!--              <i class="fas fa-edit" style="font-size: 24px; color: black;"></i></button>-->
          </div>





        </div>




        <hr>


        <div class="card-3 d-flex align-items-stretch">

          <div class="image col-md-6 text-center">
            <img alt="" src="../../assets/home-content-3.svg" width="350px">
<!--            <button  type="button" class="btn btn-link edit-button mt-2" data-bs-toggle="modal"-->
<!--                     data-bs-target="#editImageModal">-->
<!--              <i class="fas fa-edit" style="font-size: 24px; color: black;"></i>-->
<!--            </button>-->
          </div>





          <div class="content col-md-6" style="background-color: #EDECFF; font-family: 'Sofia Sans', sans-serif;">
            <div class="d-flex align-items-center mb-3">
              <h3 style="color:#4B4389">
                Thank you
<!--
-->
              </h3>
            </div>
            <p>
              Ensure the safety and security of your baby with our state-of-the-art baby camera. Watch over them with
              high-resolution video streaming, night vision, and the ability to interact through two-way audio.
            </p>
          </div>

        </div>



<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  </body>


<!--  &lt;!&ndash; adding footer&ndash;&gt;-->
<!--  <app-footer></app-footer>-->



