<div class="container-fluid">

  <div class="row">
    <div style="background-color: #e8e3fc;
    width: 400px;
    height: 120px;
    padding: 5px 0 0 5px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 #563393;
">
      <img class="topic_image" src="../../assets/sitter.svg">
      <h3 style="font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #39315d;
    padding-left: 10px;
    padding-top: 37px;">Live Stream</h3>
    </div>
  </div>
  <div class="video-container">
<!--    <video id="videoElement" type="video/webm" autoplay preload="auto"></video>-->
    <img id="videoElement"/>
  </div>

</div>
