<div class="head">
    <h1>Tharika's Profile</h1>
</div>

<div class="container mt-5">
    
        <div class="card">
            <div class="card-1">
                <div>
                    <img src="assets/parent1.jpg" class="card-img-top" alt="Profile Picture">
                        <div class="card-body">
                            <h1 class="profile-name">Kumari</h1>
                            <p class="card-text">Address: 300/8B,Nugegoda</p>
                        </div>
                </div>
            

                <div>
                   
                    <div class="card mb-3">
                        
                        <div class="babysitter-data">
                            <h3 class="card-main-title">Personal Details</h3>
                            <div class="personal-data">
                                <h4 class="card-title">Name</h4>
                                <h5 class="details">Tharika Kumari Siriwardhana</h5>
                            </div> 
                            <div class="personal-data">
                                <h4 class="card-title">Gender</h4>
                                <h5 class="details">Female</h5>
                            </div> 
                            <div class="personal-data">
                                <h4 class="card-title">Date Of Birth</h4>
                                <h5 class="details">1963/01/15</h5>
                            </div> 
                            <h3 class="card-main-title">Contact</h3>
                            <div class="personal-data">
                                <h4 class="card-title">Phone Number</h4>
                                <h5 class="details">0771234567</h5>
                            </div> 
                            <div class="personal-data">
                                <h4 class="card-title">Email </h4>
                                <h5 class="details">kumari1234@gmail.com</h5>
                            </div> 
                            
                        </div>
                        
                        
                        <!-- ... (Profile Details Card Content) ... -->
                    </div>
                    
                    
                    
                </div>
        </div>

        </div>


        
          
      
    
  </div>

  
  

  





  