<div class="container py-5">


  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card rounded-0 border-0 shadow">
        <div class="card-body p-5">
          <form #taskListFormForm="ngForm" (ngSubmit)="onSubmit()" id="taskListForm" >
          <!--  Bootstrap table-->


          <div class="table-responsive">

            <h2>Create Task list</h2>
            <label for="listName">Task List Name:</label>
            <input class="form-control rounded-0" type="text" id="listName" name="listName" [(ngModel)]="nameOfTaskList" required>

<!--            <label for="date">Date:</label>-->
<!--            <input class="form-control rounded-0" type="text" id="date" name="date" [(ngModel)]="date" >-->


            <table class="table">
              <thead>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Time</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tbody>
              <tr>

                <td><input class="form-control rounded-0" type="text" [(ngModel)]="taskName"  name="task" ></td>
                <td>
                  <input class="form-control rounded-0"  [(ngModel)]="time" [ngxTimepicker]="picker" name="time">
                  <!--[disabled]="row.verified && !row.editMode" -->
                  <ngx-material-timepicker #picker></ngx-material-timepicker>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="addNewRow()">Add</button>
                </td>
                <!--   <td><button class="btn btn-danger rounded-0" (click)="deleteRow(i)"><i class="fa fa-trash"></i></button></td> -->
              </tr>
              </tbody>

            </table>
          </div>



            <div class="table-wrapper">
              <table class="table">
                <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th>#</th>
                  <th scope="col">Task Name</th>
                  <th scope="col">Time</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let task of taskListForm.tasks; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{task.taskName}}</td>
                  <td>{{task.time}}</td>

                  <td>
                    <button type="button" class="btn btn-danger btn-delete" (click)="deleteTaskDetails(i)">Delete</button>
                  </td>
                </tr>
                </tbody>

              </table>
            </div>

            <div>
              <button type="submit" style="background-color: #563393;border-color: #563393" class="btn btn-danger">Submit</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

