<div class="path">
  Baby-Details > Growth Parameters
</div>
<div class="title my-4">
  <div class="card-body">
    <h1 class="card-title">Growth Parameters</h1>
  </div>
  <img src="../../assets/parameters.svg" class="title-img-top" alt="...">
</div>
<div class="main-container">
  <div class="age-group">
    <p>Age Group</p>
    <select class="form-select" aria-label="Default select example">
      <option selected value="9 to 12 months">9 to 12 months</option>
      <option value="1">9 to 12 months</option>
      <option value="2">3 to 6 months</option>
      <option value="3">6 to 9 months</option>
    </select>
  </div>
  <div class="growth_development">
    <h1>Physical Growth and Development</h1>
    <div class="growth_content">
      <div class="list">
        <div class="form-check">
          <p>Pull themselves to a seated position</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Stand without assistance</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Take their first step</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Pickup and throw object</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Roll a ball</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Grasp object between their thumb and one finger</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Major milestone such as standing up and walking</p>
          <input type="checkbox" class="form-check-input">
        </div>
      </div>
      <div class="side_image">
        <img src="../../assets/growth_dev.svg" class="title-img-top" alt="..." style="width:300px">
      </div>
    </div>
  </div>

  <div class="communication">
    <h1>Language and Communication</h1>
    <p style="font-weight: bold">
      In this phase, many babies start to understand simple commands and requests. They’ll also mimic more of the sounds they hear as they develop basic language skills.</p>
    <div class="communication_content">
      <div class="communication_list">
        <div class="form-check">
          <p>Responding to simple requests like “stop” and “no-no”</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Following simple instructions like “come here”</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Saying a few words, like “mama,” “dada,” and “uh-oh”</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Recognizing simple words for objects, like “shoe”</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Immediately imitating sounds</p>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
          <p>Changes their tone while making sounds, similar to speech</p>
          <input type="checkbox" class="form-check-input">
        </div>
      </div>
      <div class="side_image">
        <img src="../../assets/communication.svg" class="title-img-top" alt="..." style="width:300px">
      </div>
    </div>

  </div>
</div>


