
<div class="container-fluid">
    <div class="mb-3">
      <h3>Dashboard</h3>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col ">
      <h5>My Calendar</h5>
    </div>
    <div class="col">
      <h5>Feedback</h5>
    </div>
    <div class="col">
      <div class="card mt-2">
        <div class="card-body text-center">
          <p class="">New Parents' Requests</p>
          <p class="card-text">20</p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body text-center">
          <p class="">Confirmed Requests</p>
          <p class="card-text">3</p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body text-center">
          <p class="">Today Incompleted Tasks</p>
          <p class="card-text">1</p>
        </div>
      </div>
    </div> 
  </div>
</div>

