<header>
  <!--  link google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200&family=Sofia+Sans:wght@1;200;300;400&family=Stylish&family=Sunshiney&display=swap"
    rel="stylesheet">
</header>


<div class="form d-flex justify-content-center" style="text-align: center;font-family: 'Sofia Sans', sans-serif">
  <div class="container p-2 d-flex justify-content-center"
       style="border-radius: 20px;text-align: center;font-family: 'Sofia Sans', sans-serif">
    <form #forgotForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <h1 style="text-align: center;font-weight: bold;font-size: 40px" class="h1 mb-4">
        Forgot Your Password?
      </h1>
      <p style="text-align: left;margin:10% 0%">Enter the email you used to create your account to send you a link to
        reset your password</p>
      <div class="row mb-4" style="text-align: left">
        <div class="col-sm-12" style="text-align: center">
          <input type="email"  #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
          <div *ngIf="email.errors?.['required'] && (email.touched || forgotForm.submitted)"
               class="validErr">
            Email is required
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-dark mb-3">Send Reset Link</button>
      <div style="margin:10% 0%;font-family: 'Sofia Sans', sans-serif;text-align: left">Return to
        <div
          style="font-weight: bold;display:inline;cursor: pointer;color:#7E57C2;font-family: 'Sofia Sans', sans-serif"
          routerLink="/login">Login
        </div>
      </div>
    </form>
    <div class="image p-2 ms-5">
      <img src="../../../assets/forget.svg" style="height: 600px;width: 600px;margin-right: 50px" alt="">
    </div>
  </div>

</div>


