<header>
  <!--  link google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200&family=Sofia+Sans:wght@1;200;300;400&family=Stylish&family=Sunshiney&display=swap" rel="stylesheet">
</header>


<div class="form d-flex justify-content-center" style="text-align: center;font-family: 'Sofia Sans', sans-serif">
    <div class="container p-2 "
         style="margin-top:80px;border-radius: 40px;text-align: center;font-family: 'Sofia Sans', sans-serif" >
      <form>
        <h3 style="text-align: center;font-weight: bold" class="h1 mb-4">
          Login
        </h3>
        <div class="row mb-4" style="margin-left:12%;text-align: center">
          <div class="col-sm-10" style="text-align: center">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="row mb-4" style="margin-left:12%;text-align: center">
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-10 d-flex" style="margin-left:13%;font-family: 'Sofia Sans', sans-serif">
            <div class="form-check d-flex">
              <input class="form-check-input me-2" type="checkbox" id="gridCheck1" style="cursor: pointer">
              <label style="font-family: 'Sofia Sans', sans-serif">
                Remember Me
              </label>
            </div>
            <a routerLink="/signup" style="text-align: end;margin-left:39%;text-decoration: none;color:#7E57C2;font-weight: bold">Forget password?</a>
          </div>
        </div>
        <button type="submit" class="btn btn-dark mb-3" >Login</button>
        <div style="margin-top: 5px;font-family: 'Sofia Sans', sans-serif">Don't have an account?
          <div style="font-weight: bold;display:inline;cursor: pointer;color:#7E57C2;font-family: 'Sofia Sans', sans-serif" routerLink="/signup">Sign up</div>
        </div>
      </form>
    </div>
  <div class="image p-2 ms-5">
    <img src="assets/loginimage.svg" style="height: 620px;width: 620px;" alt="">
  </div>
</div>


