<div class="path">
  Moderate Blog > Blog List
</div>
<div class="main_content">
  <div class="title">
    <h1>Blog List</h1>
  </div>
  <div class="container">
    <!--    serch bar start-->
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="pt-3 pb-4">
          <div class="input-group">
            <input type="text" id="" name="" class="form-control" value="Search...">
            <div class="input-group-append">
              <button type="button" class="btn waves-effect waves-light btn-custom"><i class="fa fa-search mr-1"></i> Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    search bar end-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary px-3 py-1 mb-3 btn-dark " type="button" routerLink="/domain_expert/create_blog"><i class="fa-solid fa-square-plus" style="font-size: 24px; color: #ffffff;"></i>Create New Blog</button>
    </div>
    <table class="table table-hover">
      <thead class="py-5 table-dark  ">
      <tr class="mb-5">
        <th style="font-size: 15px; font-weight:bolder" scope="col">Blog No</th>
        <th style="font-size: 15px; font-weight: bolder" scope="col">Date</th>
        <th style="font-size: 15px; font-weight: bolder" scope="col">Title</th>
        <th style="font-size: 15px; font-weight: bolder" scope="col">Status</th>
        <th style="font-size: 15px; font-weight: bolder" scope="col">Publish</th>
        <th style="font-size: 15px; font-weight: bolder" scope="col">Edit</th>
        <th style="font-size: 15px; font-weight: bolder" scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>01</td>
        <td>20.02.2022</td>
        <td>
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm">Essential Baby Care Tips for New Parents</span>
            </div>
          </div>
        </td>
        <td>Rejected</td>
        <!--                  <td><button class="btn btn-primary">Accept</button></td>-->
        <td>
          <i class="fa-solid fa-file-arrow-up" style="font-size: 24px; color: #41e88f;"></i>
        </td>
        <td>
          <i class="fa-solid fa-file-arrow-up"  style="font-size: 24px; color: #000000;"></i>
        </td>
        <td>
          <i class="fas fa-trash-alt" style="font-size: 24px; color: #dc3545;"></i>
        </td>
      </tr>
      <tr>
        <td>02</td>
        <td>20.02.2022</td>
        <td>
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm">The Complete Guide to Baby Skin Care</span>
            </div>
          </div>
        </td>
        <td>Accepted</td>
        <td>
          <i class="fa-solid fa-file-arrow-up" style="font-size: 24px; color: #41e88f;"></i>
        </td>
        <td>
          <i class="fa-solid fa-file-arrow-up"  style="font-size: 24px; color: #000000;"></i>
        </td>
        <td>
          <i class="fas fa-trash-alt" style="font-size: 24px; color: #dc3545;"></i>
        </td>
      </tr>
      <tr>
        <td>03</td>
        <td>20.02.2022</td>
        <td>
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm">Sleep Solutions: Establishing Healthy Baby Sleep Patterns</span>
            </div>
          </div>
        </td>
        <td>Pending</td>
        <td>
          <i class="fa-solid fa-file-arrow-up" style="font-size: 24px; color: #41e88f;"></i>
        </td>
        <td>
          <i class="fa-solid fa-file-arrow-up"  style="font-size: 24px; color: #000000;"></i>
        </td>
        <td>
          <i class="fas fa-trash-alt" style="font-size: 24px; color: #dc3545;"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
