.title img{
 height:25%;
  position: absolute;
  top: 15%;
  left: 55%;
  transform: translateX(-50%);
}

.title{
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title h1{
  flex: 5;
  margin-left: 10%;
  color: #17404d;
  font-weight: bold;
  margin-top: 1%;
  font-size: 30px;
}

.card-body{
  background-color: #C5E2E8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(11, 11, 11, 0.2);

}
.main-container{
  background-color: rgba(197, 226, 232, 0.2);
  padding: 2%;
  border-radius: 10px;
  margin-top: 30px;
}
.tables{
  box-shadow: 3px 3px 3px 3px rgba(11, 11, 11, 0.2);
  margin: 2% 0%;
  background-color: #ffffff;
  padding: 30px;
}

.tables h1{
  font-weight: bold;
  margin-top: 1%;
  margin-bottom:2%;
  font-size: 30px;
  color: #365e72;
}

table{
 width: 100%;
  background-color: #C4BCE5;
}

.table{
  padding: 10px;
  background-color: rgba(197, 226, 232, 0.6);
  margin-right: 20px;
  border-radius: 10px;
}

.table h2{
  color: #365e72;
}

.carousel-item active img{
  width:100px;
}

.Charts{
  height:900px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(11, 11, 11, 0.6);
  margin: 4% 0%;
  padding: 30px;
}

.Charts h1{
  font-weight: bold;
  margin-top: 1%;
  margin-bottom:3%;
  font-size: 30px;
  color: #365e72;
}

.carousel-inner img{
   margin-left: 30%;
  margin-bottom:15%;
}

.carousel-item{
  background-color: rgba(197, 226, 232, 0.45);
  padding:40px 0px;
}

h5{
  font-weight: bold;
  font-size: 18px;
}

h3{
  font-weight: bold;
  font-size: 22px;
}

.path{
  font-family: 'Sofia Sans', sans-serif;
  color: #428fa6;
  margin-top: 10px;
  font-size: 15px;
}
