<main>
  <!--MDB Tables-->
  <div class="container mt-4">

    <div class="card mb-4">
      <div class="card-body">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12">

            <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search by Date ..." aria-label="Search">
              <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!--Table-->
        <table class="table table-striped">
          <!--Table head-->
          <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th></th>
          </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody>
          <tr>
            <th>2023/07/10</th>
            <td>
              <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
            </td>
            <td >
              <a routerLink="/babysitter/view_previous_task_list_more"><i class="fas fa-ellipsis-v"></i></a>
            </td>

          </tr>

          <tr>
            <th>2023/07/10</th>
            <td>
              <span class="mb-0 text-sm" style="color: red; font-weight: bold;">Incompleted</span>
            </td>
            <td >
              <a routerLink="/babysitter/view_previous_task_list_more"><i class="fas fa-ellipsis-v"></i></a>
            </td>
          </tr>
          <tr>
            <th>2023/07/10</th>
            <td>
              <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
            </td>
            <td >
              <a routerLink="/babysitter/view_previous_task_list_more"><i class="fas fa-ellipsis-v"></i></a>
            </td>
          </tr>
          <tr>
            <th>2023/07/10</th>
            <td>
              <span class="mb-0 text-sm" style="color: red; font-weight: bold;">Incompleted</span>
            </td>
            <td >
              <a routerLink="/babysitter/view_previous_task_list_more"><i class="fas fa-ellipsis-v"></i></a>
            </td>
          </tr>
          <tr>
            <th>2023/07/10</th>
            <td>
              <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
            </td>
            <td >
              <a routerLink="/babysitter/view_previous_task_list_more"><i class="fas fa-ellipsis-v"></i></a>
            </td>
          </tr>
          <tr>
            <th>2023/07/10</th>
            <td>
              <span class="mb-0 text-sm" style="color: red; font-weight: bold;">Incompleted</span>
            </td>
            <td >
              <a routerLink="/babysitter/view_previous_task_list_more"><i class="fas fa-ellipsis-v"></i></a>
            </td>
          </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->

        <!--Bottom Table UI-->
        <div class="d-flex justify-content-center">
          <!--Pagination -->
          <nav class="my-4 pt-2">
            <ul class="pagination pagination-circle pg-blue mb-0">
              <!--First-->
              <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>
              <!--Arrow left-->
              <li class="page-item disabled">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <!--Numbers-->
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">5</a></li>
              <!--Arrow right-->
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <!--First-->
              <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>
            </ul>
          </nav>
          <!--/Pagination -->
        </div>


      </div>
    </div>





  </div>
  <!--MDB Tables-->

</main>
