<div class="container">
  <div class="begin" style="background:url(assets/blog_back.jpg) no-repeat center center / cover;">
  </div>
  <div class="main" id="main">
    <h2>Essential Baby Care Tips</h2>
    <div class="profile-container">
      <div class="profile">
        <div class="img-container">
          <img src="assets/profilepic_icon.svg" >;
        </div>
        <div class="text">
          <h4>Nadeesha Rajapaksha</h4>
          <p>20.02.2022</p>
        </div>
      </div>
    </div>
    <div class="first_para">
      <div class="text">
        <p>Bringing a new life into the world is a beautiful and transformative experience, but it also comes with its fair share of challenges and uncertainties. As a new parent, taking care of your precious bundle of joy requires knowledge, patience, and a whole lot of love. To help you navigate the early days of parenthood, we've compiled a list of essential baby care tips that will set you on the path to confident and effective parenting.</p>
      </div>
      <div class="image">
        <img src="assets/blog.jpg" style="width:450px">;
      </div>
    </div>
    <div class="content_para">
      <h1>1. Create a Safe Sleep Environment</h1>
      <div class="content_para_body">
        <div class="text">
          <p>Safe sleep is paramount for your baby's well-being. When putting your baby down to sleep:
            Place your baby on their back to reduce the risk of Sudden Infant Death Syndrome (SIDS).
            Use a firm and flat mattress in a crib or bassinet designed for babies.
            Remove soft bedding, toys, and pillows from the sleep area.
            Keep the room at a comfortable temperature (around 68-72°F or 20-22°C).
          </p>
        </div>
        <div class="image">
          <img src="assets/sleep.jpg" style="width:350px;margin-left:5px">;
        </div>
      </div>
    </div>
    <div class="content_para">
      <h1>2. Feed Your Baby Responsively</h1>
      <div class="content_para_body">
        <div class="image">
          <img src="assets/feed.jpg" style="width:350px;margin-right:5px">;
        </div>
        <div class="text">
          <p>Whether you're breastfeeding or formula feeding, responsive feeding helps establish a strong parent-baby bond:

            Feed your baby on demand, looking for hunger cues like rooting, sucking, or putting their hands to their mouth.
            Ensure a comfortable and quiet feeding environment.
            Practice skin-to-skin contact during feeding to promote bonding.
          </p>
        </div>
      </div>
    </div>
    <div class="tags">
      <p>tags:</p>
      <a href="course/theCourse.php">More Blogs</a>
    </div>
  </div>
</div>


