<div class="container-fluid">

  <div
    style="background-color: #e8e3fc; width: 365px; height: 120px; padding: 5px 0 0 5px; margin-top: 10px; border-radius: 10px; box-shadow: 0 2px 2px 0px #563393;">
    <img class="topic_image" src="../../assets/ProfileInterface.svg">
    <h3 class="topic">My Profile</h3>
  </div>


  <div class="card custom-card" style="width: 100%;  height: auto;background-color: #e8e3fc;border-radius: 10px; box-shadow: 0 3px 2px 0px #563393;">
    <!--      <div class="header" style="height: 39px; background-color: #FFFFFF; border-radius: 5px; margin: 10px;">-->

    <mat-tab-group>
      <mat-tab label="Details" >
        <div class="d-md-flex" style="padding: 10px 10px 10px 10px;">

          <!-- Left Side - Image -->
          <div style="width: 30%">
            <!--        <div class="card custom-card" style="flex: 0 0 20rem; height: 390px; background-color: #FFFFFF; margin: 55px 0 0 20px;">-->
            <div class="d-flex justify-content-center">
              <img class="card-img-top custom-img" src="../../assets/user.jpg" alt="Sewmi Image">
            </div>
          </div>

          <!-- Right Side - Header and Custom Card2 -->
          <div class="d-md-flex flex-column justify-content-between" style="flex: 1;">


            <div class="card custom-card"
                 style="width: 98%; background-color: #FFFFFF; margin: 55px 10px 30px 10px;padding: 20px 20px 20px;">
              <p class="font-weight-bold">First Name</p>
              <input value="Ishini" type="text" class="form-control"readonly>
              <p class="font-weight-bold">Last Name</p>
              <input value="Ekanayake" type="text" class="form-control"readonly>
              <p class="font-weight-bold">Contact Number</p>
              <input value="0714403415" type="text" class="form-control"readonly>
              <p class="font-weight-bold">Home Address</p>
              <input value="No 50 , Kandy Road,Wattegema" type="text" class="form-control"readonly>
              <p class="font-weight-bold">Email</p>
              <input value="ishini123@gmail.com" type="text" class="form-control"readonly>
            </div>
          </div>

        </div>

      </mat-tab>
      <mat-tab label="Edit Details">
        <div class="d-md-flex" style="padding: 10px 10px 10px 10px;">

          <!-- Left Side - Image -->
          <div style="width: 30%">
            <!--        <div class="card custom-card" style="flex: 0 0 20rem; height: 390px; background-color: #FFFFFF; margin: 55px 0 0 20px;">-->
            <div class="d-flex justify-content-center">
              <img class="card-img-top custom-img" src="../../assets/sewmi.jpg" alt="Sewmi Image">
            </div>
          </div>

          <!-- Right Side - Header and Custom Card2 -->
          <div class="d-md-flex flex-column justify-content-between" style="flex: 1;">


            <div class="card custom-card"
                 style="width: 98%; background-color: #FFFFFF; margin: 55px 10px 30px 10px;padding: 20px 20px 20px;">
              <p class="font-weight-bold">First Name</p>
              <input value="Ishini" type="text" class="form-control">
              <p class="font-weight-bold">Last Name</p>
              <input value="Ekanayake" type="text" class="form-control">
              <p class="font-weight-bold">Contact Number</p>
              <input value="0714403415" type="text" class="form-control">
              <p class="font-weight-bold">Home Address</p>
              <input value="No 50 , Kandy Road,Wattegema" type="text" class="form-control">
              <p class="font-weight-bold">Email</p>
              <input value="ishini123@gmail.com" type="text" class="form-control">
            </div>
          </div>

        </div>
        <button class="btn btn-primary `" style="background-color: #563393; border-color: #27183f; margin: -245px 0 0 157px;
">
          Update
        </button>
      </mat-tab>
      <mat-tab label="Reset Password">

        <div class="d-md-flex" style="padding: 10px 10px 10px 10px;">

          <!-- Left Side - Image -->
          <div style="width: 50%">

            <div class="d-flex justify-content-center">
              <img style="width: 100% ;height: auto"  src="../../assets/resetpw.svg" >
            </div>
          </div>

          <!-- Right Side - Header and Custom Card2 -->
          <div class="d-md-flex flex-column justify-content-between" style="flex: 1;">


            <div class="card custom-card"
                 style="width: 98%; background-color: #FFFFFF; margin: 81px 10px 30px 0;padding: 20px 20px 20px;">

              <input type="text" class="form-control" placeholder="New Password " style="margin: 0 0 30px 0 ">

              <input  type="text" class="form-control" placeholder="Confirm New Password">
              <button class="btn btn-primary " style="background-color: #563393; border-color: #27183f; margin-top: 10px">
                Reset
              </button>


            </div>
          </div>

        </div>

      </mat-tab>
    </mat-tab-group>
  </div>

</div>


























