<div class="container-fluid">
  <div class="mb-3">
    <h3>My Profile</h3>



    <div class="card custom-card" style="width: 63rem; height: 600px;">
      <div class="d-flex">

        <!-- Left Side - Image -->
        <div class="card custom-card" style="width: 20rem; height: 260px; background-color: #FFFFFF; margin: 30px 10px 30px 10px;">
          <div class="d-flex justify-content-center">
            <img class="card-img-top custom-img" src="../../assets/sewmi.jpg">
          </div>
        </div>

        <!-- Right Side - Header and Card custom-card2 -->
        <div style="width: 100%;">
          <div class="header" style="width: 40rem; height: 39px; background-color: #FFFFFF; border-radius: 5px; margin: 35px 10px 30px 10px;">
            <a href="details">Details</a>
            <a href="details">Edit Details</a>
            <a href="details">Reset Password</a>
          </div>

          <div class="card custom-card" style="width: 40rem; background-color: #FFFFFF; margin: 0 10px 30px 10px;">
            <p class="font-weight-bold">First Name</p>
            <input type="text" class="form-control">
            <p class="font-weight-bold">Last Name</p>
            <input type="text" class="form-control">
            <p class="font-weight-bold">Contact Number</p>
            <input type="text" class="form-control">
            <p class="font-weight-bold">Home Address</p>
            <input type="text" class="form-control">
            <p class="font-weight-bold">Email</p>
            <input type="text" class="form-control">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
