<div class="container-fluid">
  <div
    style="background-color: #e8e3fc; width: 365px; height: 120px; padding: 5px 0 0 5px; margin-top: 10px; border-radius: 10px; box-shadow: 0 2px 2px 0 #563393;">
    <img class="topic_image" src="../../assets/Happybaby.svg">
    <h3>My Baby</h3>

  </div>
  <div class="d-flex justify-content-end">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#myModal"
              style="background-color: #7E57C2; border-color: #563393;">
        Add Baby Details
      </button>
    </div>

  </div>

  <div class="mb-3 d-flex ">


    <form class="row g-3 needs-validation" #addBabyForm="ngForm"
          (ngSubmit)="addBabyForm.form.valid && onSubmit()" id="signUpForm" novalidate>
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Baby Details</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body align-content-center d-flex align-items-center">


              <!--               add photo icon-->
              <i class="fa sharp fa-light fa-camera fa-7x mx-auto"></i>
            </div>

            <div class="container">
              <div class="row">
                <!-- Left Side: First Name and Birthday -->
                <div class="col-sm-6">
                  <p class="font-weight-bold">First Name</p>
                  <input type="text" class="form-control" placeholder="Enter the first name"
                         [(ngModel)]="baby.firstName" #firstName="ngModel" name="firstName" required
                         appTextValidator="">
                  <div *ngIf="(firstName.touched || addBabyForm.submitted) && firstName.errors?.['required']"
                       class="validErr">
                    First Name is required
                  </div>
                  <!--                  <p class="font-weight-bold">Age</p>-->
                  <!--                  <input type="number" class="form-control" placeholder="age" [(ngModel)]="baby.age" #age="ngModel"-->
                  <!--                         name="age" required>-->
                  <!--                  <div *ngIf="(age.touched || addBabyForm.submitted) && age.errors?.['required']"-->
                  <!--                       class="validErr">-->
                  <!--                    Age is required-->
                  <!--                  </div>-->
                  <p class="font-weight-bold">Date of birth</p>
                  <input type="date" class="form-control" [(ngModel)]="baby.birthDate" [min]="getFormattedDate()"
                         #birthDate="ngModel" name="birthDate">
                  <div *ngIf="(birthDate.touched || addBabyForm.submitted) && birthDate.errors?.['min']"
                       class="validErr">
                    Date of birth is required
                  </div>
                </div>

                <!-- Right Side: Last Name and Gender -->
                <div class="col-sm-6">
                  <p class="font-weight-bold">Last Name</p>
                  <input type="text" class="form-control" placeholder="Enter the last name" [(ngModel)]="baby.lastName"
                         #lastName="ngModel" name="lastName" required appTextValidator="">
                  <div *ngIf="(lastName.touched || addBabyForm.submitted) && lastName.errors?.['required']"
                       class="validErr">
                    Last Name is required
                  </div>
                  <!--                radio button-->
                  <p class="font-weight-bold">Gender</p>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="male" [(ngModel)]="baby.gender" #gender="ngModel"
                           name="gender" name="optradio" value="male" required>
                    <label class="form-check-label" for="male">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="female" name="optradio" value="female"
                           [(ngModel)]="baby.gender" #gender="ngModel" name="gender" name="optradio">
                    <label class="form-check-label" for="female">Female</label>
                  </div>


                </div>
                <div class="col-sm-12">
                  <p class="font-weight-bold">Baby's Image</p>
                  <input type="file" name="images" (change)="selectImage($event)" class="form-control" required>
                </div>
              </div>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer" style="margin-top: 20px">
              <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Add Baby</button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <div style="background-color: #e8e3fc;border-radius: 10px; box-shadow: 0 2px 2px 0px #563393;"
       class="row justify-content mt-5 ">

    <div *ngFor="let baby of babies" class="col-sm-6 col-md-4  " style="height: 360px;">
      <div class="card custom-card"
           style="width: 70%;height: 320px;margin-top: 20px;margin-right: 20px;margin-left: 10px;">
        <div class="d-flex justify-content-center mt-3">
          <img class="card-img-top custom-img" [src]="baby.imageUrl">
        </div>
        <div class="card-body bg-custom text-center">
          <h4 class="card-title">{{ baby.baby.firstName }} {{ baby.baby.lastName }}</h4>
          <p class="card-text">{{ calculateAge(baby.baby.birthDate) }}</p>
          <a [routerLink]="['/parent/view_baby_details',baby.baby._id]" class="btn btn-primary"
             style="background-color: #7E57C2;border-color: #563393">View Profile</a>
        </div>
      </div>
    </div>


  </div>

</div>
