<div class="grid-container">
  <div class="responsive-container">
    <div class="d-flex justify-content-between align-items-center custom-margin" >

      <div style="background-color: #e8e3fc;
    width: 544px;
    height: 120px;
    padding: 5px 0 0 5px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 #563393;
    margin-bottom: 20px;
">
        <img class="topic_image" src="../../assets/sitter.svg">
        <h3 style="font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #39315d;
    padding-left: 10px;
    padding-top: 37px;">Task List</h3>

      </div>
    </div>
  </div>
</div>


<mat-tab-group>
  <mat-tab label="Today Task List">

    <button routerLink="/parent/create_new_task_list" type="button" class="btn btn-info btn-rounded mt-3 custom-addevent-btn-color">Create Task List</button>

    <div class="container py-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="card rounded-0 border-0 shadow">
            <div class="card-body p-5">


              <div class="table-responsive" >
                <h1>Today's Task List</h1>

                <p><strong>Task List Name :- </strong></p>
                <p><strong>Date :- </strong></p>

                <table class="table">

                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Send reminders</th>
                    <th scope="col">Any Special Note</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td></td>
                  </tr>

                  </tbody>
                </table>

                <!--



               <div *ngIf="(taskList.date | date: 'yyyy-MM-dd') === (todayDate | date: 'yyyy-MM-dd')">
               <p><strong>Date:</strong> {{ taskList.date | date }}</p>
               <p><strong>Task List Name:</strong> {{ taskList.taskListName}}</p>

               <table class="table">
                 <thead>
                 <tr>
                   <th scope="col">#</th>
                   <th scope="col">Task Name</th>
                   <th scope="col">Time</th>
                   <th scope="col">Send reminders</th>
                   <th scope="col">Any special Note</th>
                 </tr>
                 </thead>
                 <tbody>


                 <tr *ngFor="let task of taskList.tasks; let i =index">
                   <td>{{i+1}}</td>
                   <td>{{task.taskName}}</td>
                   <td>{{task.time}}</td>
                   <td>
                     <i *ngIf="task.isRemainder" class="fa fa-check-circle finished-icon"></i>
                   </td>
                   <td>{{task.specialNote}}</td>
                 </tr>

                 </tbody>
               </table>
               </div>

               <p *ngIf="(taskList.date | date: 'yyyy-MM-dd') !== (todayDate | date: 'yyyy-MM-dd')">No task list added yet</p>

 -->
             </div>



              </div>
            </div>
          </div>
        </div>
      </div>

  </mat-tab>


  <mat-tab label="Previous Task Lists">
    <main>
      <!--MDB Tables-->
      <div class="container mt-4">

        <div class="card mb-4">
          <div class="card-body">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-12">

                <div class="input-group md-form form-sm form-2 pl-0">
                  <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search by Date ..." aria-label="Search">
                  <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <!--Table-->
            <table class="table table-striped">
              <!--Table head-->
              <thead>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
              <tr>
                <th>2023/07/10</th>
                <td>
                  <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
                </td>
                <td >
                  <a routerLink="/parent/view_previous_task_list"><i class="fas fa-ellipsis-v"></i></a>
                </td>

              </tr>

              <tr>
                <th>2023/07/10</th>
                <td>
                  <span class="mb-0 text-sm" style="color: red; font-weight: bold;">Incompleted</span>
                </td>
                <td >
                  <a routerLink="/parent/view_previous_task_list"><i class="fas fa-ellipsis-v"></i></a>
                </td>
              </tr>
              <tr>
                <th>2023/07/10</th>
                <td>
                  <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
                </td>
                <td >
                  <a routerLink="/parent/view_previous_task_list"><i class="fas fa-ellipsis-v"></i></a>
                </td>
              </tr>
              <tr>
                <th>2023/07/10</th>
                <td>
                  <span class="mb-0 text-sm" style="color: red; font-weight: bold;">Incompleted</span>
                </td>
                <td >
                  <a routerLink="/parent/view_previous_task_list"><i class="fas fa-ellipsis-v"></i></a>
                </td>
              </tr>
              <tr>
                <th>2023/07/10</th>
                <td>
                  <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
                </td>
                <td >
                  <a routerLink="/parent/view_previous_task_list"><i class="fas fa-ellipsis-v"></i></a>
                </td>
              </tr>
              <tr>
                <th>2023/07/10</th>
                <td>
                  <span class="mb-0 text-sm" style="color: blue; font-weight: bold;">Completed</span>
                </td>
                <td >
                  <a routerLink="/parent/view_previous_task_list"><i class="fas fa-ellipsis-v"></i></a>
                </td>
              </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-center">
              <!--Pagination -->
              <nav class="my-4 pt-2">
                <ul class="pagination pagination-circle pg-blue mb-0">
                  <!--First-->
                  <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>
                  <!--Arrow left-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <!--Numbers-->
                  <li class="page-item active"><a class="page-link">1</a></li>
                  <li class="page-item"><a class="page-link">2</a></li>
                  <li class="page-item"><a class="page-link">3</a></li>
                  <li class="page-item"><a class="page-link">4</a></li>
                  <li class="page-item"><a class="page-link">5</a></li>
                  <!--Arrow right-->
                  <li class="page-item">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <!--First-->
                  <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>
                </ul>
              </nav>
              <!--/Pagination -->
            </div>


          </div>
        </div>





      </div>
      <!--MDB Tables-->

    </main>




  </mat-tab>



  <mat-tab label="Next 7 days Task list">

   <app-next-task-lists></app-next-task-lists>

  </mat-tab>
</mat-tab-group>
