<div class="grid-container">
  <div class="responsive-container">
    <div class="d-flex justify-content-between align-items-center custom-margin">
      <div class="d-flex align-items-center justify-content-start flex-grow-1">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background-square"></i>
          <i class="fa-solid fa-list fa-stack-1x white-icon" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
        </span>
        <h1 class="mat-h1 ml-3">Home</h1>
      </div>
      <div>
        <button routerLink="/parent/create_new_task_list" type="button" class="btn btn-info btn-rounded mt-3 custom-addevent-btn-color"
                title="Click to create task list for create a new template or add a task list">Create new Task List</button>
      </div>
    </div>
  </div>
</div>

<!-- CHARTS START HERE -->
<div class="charts">
  <div class="charts__left">
    <div class="charts__left__title">
    </div>
    <div class="charts__left__cards">

      <div class="card-01">
        <div class="d-flex justify-content-between align-items-center card_header">
          <div class="card_header_text d-flex flex-column align-items-center">
            <a routerLink="/parent/task_list_templates">
              <h4 class="card-title text-uppercase text-muted mb-0">Task List Templates</h4>
              <span class="card-text">Click to view all templates you've created.</span>
            </a>
          </div>
        </div>
      </div>


      <div class="card-02">
        <div class="d-flex justify-content-between align-items-center card_header">
          <div class="card_header_text d-flex flex-column align-items-center">
            <a routerLink="/parent/previous_task_lists">
              <h4 class="card-title text-uppercase text-muted mb-0">History</h4>
              <span class="card-text">Click to view previous task list details.</span>
            </a>
          </div>
        </div>
      </div>


      <div class="card-03">
        <div class="d-flex justify-content-between align-items-center card_header">
          <div class="card_header_text d-flex flex-column align-items-center">
            <a routerLink="/parent/next_task_lists">
              <h4 class="card-title text-uppercase text-muted mb-0">Upcoming Task Lists</h4>
              <span class="card-text">View task lists for the upcoming days</span>
            </a>
          </div>
          <div class="col-auto">
            <span class="fa-stack fa-2x"></span>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
        </p>
      </div>

    </div>
  </div>

  <div class="charts__right">
    <div class="charts__right__cards">
      <div class="btn-container col-lg-6">

      </div>
      <!--right side-->
      <!-- Inside your HTML template -->
      <div class="btn-container">
        <div class="btn-row">
          <div class="container py-4">
            <div class="row">
              <div class="col-lg"> <!-- Reduced to col-lg-8, adjust as needed -->
                <div class="card rounded-0 border-0 shadow">
                  <div class="card-body p-4">
                    <h2>Task List Name: {{ taskListForm.taskListName }}</h2>
                    <div class="table-responsive">
                      <table class="table table-lg">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th scope="col">Task Name</th>
                          <th scope="col">Time</th>
<!--                          <th scope="col">Send Reminders</th>-->
                          <th scope="col">Any Note</th>
                          <th scope="col">Completed</th>
                        </tr>
                        </thead>
                        <!-- ... -->
                        <tbody>
                        <tr *ngFor="let task of taskDetails; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>
                            <input type="text" [value]="task.taskName" disabled />
                          </td>
                          <td>
                            <input type="text" [value]="task.time" disabled />
                          </td>
<!--                          <td>-->
<!--                            <input type="checkbox" [checked]="task.isRemainder" disabled />-->
<!--                          </td>-->
                          <td>
                            <input type="text" [value]="task.specialNote || 'N/A'" disabled />
                          </td>
                          <td>
                            <input type="checkbox" [checked]="task.isCompleted" disabled />
                          </td>
                        </tr>
                        </tbody>
                        <!-- ... -->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CHARTS END HERE -->
    </div>
  </div>
</div>
