<div class="grid-container">
  <div class="responsive-container">
    <div class="d-flex justify-content-between align-items-center custom-margin">
      <div class="d-flex align-items-center justify-content-start flex-grow-1">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background-square"></i>
          <i class="fa-solid fa-list fa-stack-1x white-icon" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
        </span>
        <h1 class="mat-h1 ml-3">Home</h1>
      </div>
      <div>
        <button routerLink="/parent/create_new_task_list" type="button" class="btn btn-info btn-rounded mt-3 custom-addevent-btn-color"
                title="Click to create task list for create new template or add task list">Create new Task List</button>
      </div>
    </div>
  </div>
</div>






<!-- CHARTS STARTS HERE -->
<div class="charts">
  <div class="charts__left">
    <div class="charts__left__title">

    </div>
    <div class="charts__left__cards">

      <div class="card-01">
        <div class="d-flex justify-content-between align-items-center card_header">
          <div class="card_header_text d-flex flex-column align-items-center">
            <a routerLink="/parent/task_list_templates">
              <h4 class="card-title text-uppercase text-muted mb-0">Task List Templates</h4>
              <span class="card-text">Click to view all templates you've created.</span>
            </a>
          </div>
        </div>
      </div>


      <div class="card-02">
        <div class="d-flex justify-content-between align-items-center card_header">
          <div class="card_header_text d-flex flex-column align-items-center">
            <a routerLink="/parent/">
              <h4 class="card-title text-uppercase text-muted mb-0">History</h4>
              <span class="card-text">Click to view previous task list details.</span>
            </a>
          </div>
        </div>
      </div>


      <div class="card-03">
        <div class="d-flex justify-content-between align-items-center card_header">
          <div class="card_header_text d-flex flex-column align-items-center">
            <a routerLink="/babysitter/babysitter_view_parent_request">
              <h4 class="card-title text-uppercase text-muted mb-0">Upcoming Task Lists</h4>
              <span class="card-text">View task lists for the upcoming days</span>
            </a>
          </div>
          <div class="col-auto">
      <span class="fa-stack fa-2x">

      </span>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">

        </p>
      </div>


    </div>
  </div>

  <div class="charts__right">
    <div class="charts__right__cards">
      <div class="btn-container">

      </div>

      <!--right side-->

      <div class="btn-container">
        <div class="btn-row">

          <div class="table-responsive">
                            <h1>Today's Task List</h1>


                            <p><strong>Date : </strong>2023/09/21</p>
                            <p><strong>Task List Name : </strong>Monday Task List</p>

                            <table class="table">
                              <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Task Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Send reminders</th>
                                <th scope="col">Any special Note</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr >
                                <td>1</td>
                                <td>Feeding</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr >
                                <td>2</td>
                                <td>Preapare meal</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr >
                                <td>3</td>
                                <td>Give medicine</td>
                                <td>8.00AM</td>
                                <td>
                                  <i style="color: #0c4548" class="fa fa-check-circle finished-icon"></i>
                                </td>

                                <td>Any note</td>
                              </tr>
                              <tr >
                                <td>4</td>
                                <td>Washing clothes</td>
                                <td></td>
                                <td></td>
                                <td>Any note</td>
                              </tr>
                              <tr >
                                <td>5</td>
                                <td>Dressing up</td>
                                <td></td>
                                <td></td>
                                <td>Any note</td>
                              </tr>
                              <tr >
                                <td>6</td>
                                <td>Give medicine</td>
                                <td>12.00PM</td>
                                <td></td>
                                <td>Any note</td>
                              </tr>
                              </tbody>
                            </table>


                          </div>


      </div>

    </div>
  </div>
  <!-- CHARTS ENDS HERE -->
